<div class="kt-section">
				<!--Begin::Section-->
				<div class="row">
					<div class="col-xl-12">

						<!--begin:: Widgets/Quick Stats-->
						<div class="row row-full-height">

							<div class="kt-portlet">
								<div class="kt-portlet__head">
									<div>
										<p class="head-left">
											 <span class="small-font">  </span>
										</p>
									</div>
									<div class="kt-portlet__head-label">
										<div class="row">
											<div class="col-md-6">
												<h3 class="kt-portlet__head-title">

												</h3>
											</div>
											<div class="col-md-6">

											</div>
										</div>
									</div>
								</div>

								<!--begin::Form-->
								<form class="kt-form">
									<div class="kt-portlet__body">
										<div class="form-group form-group-last">

										</div>
										<div class="row" style="display: contents;">
											<h3 align="center">
												Delivery Information
											</h3>
											<div class="form-group">
													<label for="recipient-name" class="form-control-label" style="text-align: center; display: block;">Current Date & Time:</label>
													<input type="text" class="form-control cash-received" placeholder="Date and time in the ticket"   id="recipient-name" style="width: 40% !important; margin-left: 30% !important; text-align: center;">
												</div>
												<div class="form-group">
														<label for="recipient-name" class="form-control-label" style="text-align: center; display: block;">Amount of Litres</label>
														<input type="text" class="form-control cash-received" placeholder="Invoice Litres Amount"   id="recipient-name" style="width: 40% !important; margin-left: 30% !important; text-align: center;">
													</div>
													<a class="btn btn-info" href="demo4/invoice1.html" style="width: 10%; margin-left: 60%; margin-top: 5px; margin-bottom: 10px;"> CONFIRM </a>



										</div>

									</div>
									<div class="kt-portlet__foot">
										<div class="kt-form__actions">
											<!-- <button type="reset" class="btn btn-primary" ahref="#">Submit</button> -->
											<!-- <a class="btn btn-primary" href="demo4/invoice1.html"> Submit </a>
											<button type="reset" class="btn btn-secondary">Cancel</button> -->
										</div>
									</div>
								</form>

								<!--end::Form-->
							</div>
						</div>

						<!--end:: Widgets/Quick Stats-->
					</div>
				</div>

				<!--End::Section-->
</div>