
	<!--Begin::Section-->
	<div class="row kt-section">
		<div class="col-xl-12">

			<!--begin:: Widgets/Quick Stats-->
			<div class="row row-full-height">
				<div class="col-sm-12 col-md-3 col-lg-3">
					<!-- <a routerLink="/"> -->
						<div class="kt-portlet kt-portlet--border-bottom-brand">
							<div class="kt-portlet__body kt-portlet__body--fluid">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<h1 align="center">
													<span class="flaticon-multimedia"></span>
												</h1>
											</div>
											<div class="col-md-6 col-xs-6">
												<div>
														<span class="kt-widget26__number" align="center">Total</span>
												</div>
												<div>
													Count
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<!-- </a> -->
				</div>
				<div class="col-sm-12 col-md-3 col-lg-3">
					<!-- <a routerLink="/price_change"> -->
						<div class="kt-portlet kt-portlet--border-bottom-success">
							<div class="kt-portlet__body kt-portlet__body--fluid">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
											<div class="row">
													<div class="col-md-6 col-xs-6">
														<h1 align="center">
															<span class="flaticon2-check-mark"></span>
														</h1>
													</div>
													<div class="col-md-6 col-xs-6">
														<div>
																<span class="kt-widget26__number" align="center">Success</span>
														</div>
														<div>
															Count
														</div>
													</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					<!-- </a> -->
					<!-- <div class="kt-space-20"></div>
					<a routerLink="/manage_corporate">
						<div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-warning">
							<div class="kt-portlet__body kt-portlet__body--fluid">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<i class="fa fa-car-alt tablet-icons"></i>
										<span class="kt-widget26__number" align="center">ADD CORPORATE CLIENT </span>
									</div>
								</div>
							</div>
						</div>
					</a> -->
				</div>
				<!-- <div class="<div class="col-sm-12 col-md-4 col-lg-4">"> -->
				<div class="col-sm-12 col-md-3 col-lg-3">
					<!-- <a routerLink="/price_change"> -->
						<div class="kt-portlet kt-portlet--border-bottom-success">
							<div class="kt-portlet__body kt-portlet__body--fluid">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
											<div class="row">
													<div class="col-md-6 col-xs-6">
														<h1 align="center">
															<span class="flaticon2-delete" ></span>
														</h1>
													</div>
													<div class="col-md-6 col-xs-6">
														<div>
																<span class="kt-widget26__number" align="center">Fail</span>
														</div>
														<div>
															Count
														</div>
													</div>
											</div>

									</div>
								</div>
							</div>
						</div>
					<!-- </a> -->

				<!--	<a routerLink="/end_day"> <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-warning">
						<div class="kt-portlet__body kt-portlet__body--fluid">
							<div class="kt-widget26">
								<div class="kt-widget26__content">
									 <i class="fa fa-car-alt tablet-icons"></i>
									<span class="kt-widget26__number" align="center">END DAY </span>
								</div>
							</div>
						</div>
					</div></a> -->
				</div>
				<div class="col-sm-12 col-md-3 col-lg-3">
					<!-- <a routerLink="/price_change"> -->
						<div class="kt-portlet kt-portlet--border-bottom-success">
							<div class="kt-portlet__body kt-portlet__body--fluid">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
											<div class="row">
													<div class="col-md-6 col-xs-6">
														<h1 align="center">
															<span class="flaticon-star"></span>
														</h1>
													</div>
													<div class="col-md-6 col-xs-6">
														<div>
																<span class="kt-widget26__number" align="center">Credits</span>
														</div>
														<div>
															Count
														</div>
													</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					<!-- </a> -->
				</div>
			</div>
			<!--end:: Widgets/Quick Stats-->
		</div>

		<div class="col-xl-12">

			<!--begin:: Widgets/Order Statistics-->
			<div class="kt-portlet kt-portlet--height-fluid">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">
							Message Count
						</h3>

					</div>
				</div>
				<div class="kt-portlet__body kt-portlet__body--fluid">
					<div class="kt-widget12">
						<!-- <div class="kt-widget12__content">
							<div class="kt-widget12__item">
								<div class="kt-widget12__info">
									<span class="kt-widget12__desc">Total Sales</span>
									<span class="kt-widget12__value">${{salesTotal}}</span>
								</div>
								<div class="kt-widget12__info">
									<span class="kt-widget12__desc">Average Order</span>
									<span class="kt-widget12__value">${{averageOrder}}</span>
								</div>
								<div class="kt-widget12__info">
									<span class="kt-widget12__desc">Today's Propane Price</span>
									<span class="kt-widget12__value">${{currentPropanePrice}}/litre</span>
								</div>
							</div>
							<div class="kt-widget12__item">
								<div class="kt-widget12__info">
									<span class="kt-widget12__desc">Total Litres Sold</span>
									<span class="kt-widget12__value">{{lbTotal}} L</span>
								</div>
								<div class="kt-widget12__info">
									<span class="kt-widget12__desc">Total Vehicle Customers</span>
									<span class="kt-widget12__value">{{vehicleCustomers}}</span>
								</div>
								<div class="kt-widget12__info">
									<span class="kt-widget12__desc">Total Propane Tank Customers</span>
									<span class="kt-widget12__value">{{tankCustomers}}</span>
								</div>
							</div>
						</div> -->
						<kt-portlet [class]="'kt-portlet--height-fluid'">
							<kt-portlet-body>
								<kt-widget12></kt-widget12>
							</kt-portlet-body>
						</kt-portlet>
					</div>
				</div>
			</div>

			<!--end:: Widgets/Order Statistics-->
		</div>
	</div>
