:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
	}
}

.flaticon-multimedia, .flaticon-star, .flaticon2-delete, .flaticon2-check-mark {
	font-size: 40px!important;
}

.flaticon-multimedia{
	color: darkturquoise;
}

.flaticon2-check-mark{
	color: rgb(0, 209, 94);
}

.flaticon2-delete{
	color: rgb(231, 93, 38);
}

.flaticon-star{
	color: rgb(240, 150, 16);
}

