<div class="kt-section">
			<div class="kt-section__content">
				<div class="example-container mat-elevation-z8">
					<div class="example-loading-shade"
						*ngIf="isLoadingResults || isRateLimitReached">
					 		<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
				   </div>
					<mat-table #table2 [dataSource]="dataSource8">
							<ng-container matColumnDef="_id">
									<mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row._id}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="company_name">
										<mat-header-cell *matHeaderCellDef>Company Name </mat-header-cell>
										<mat-cell *matCellDef="let row"> {{row.company_name}} </mat-cell>
									</ng-container>
								<ng-container matColumnDef="contact_name">
									<mat-header-cell *matHeaderCellDef> Contact Name </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.contact_name}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="email">
									<mat-header-cell *matHeaderCellDef>Email </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="phone">
									<mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="note">
									<mat-header-cell *matHeaderCellDef>Note </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.note}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="actions">
									<mat-header-cell *matHeaderCellDef>
											Actions
									</mat-header-cell>
									<mat-cell *matCellDef="let row">
										<button type="button" (click)="editProduct(3)" mat-icon-button color="primary" matTooltip="Edit product">
											<mat-icon>create</mat-icon>
										</button>&nbsp;
										<button mat-icon-button color="warn" type="button" (click)="deleteProduct(3)" matTooltip="Delete product">
											<mat-icon>delete</mat-icon>
										</button>&nbsp
									</mat-cell>
								</ng-container>
								<mat-header-row *matHeaderRowDef="displayedColumns8"></mat-header-row>
								<mat-row *matRowDef="let row; columns: displayedColumns8;"></mat-row>
					</mat-table>
					<mat-paginator

									[length]="pagination_data.total"
									[pageSizeOptions]="pagination_item_counts"
									(page)="pageEvent($event)"
									showFirstLastButtons
									></mat-paginator>
				</div>
			</div>
</div>
