<div class="kt-section">
			<h2>Commercial Requests</h2>
			<div class="kt-section__content">
				<div class="example-container mat-elevation-z8">
					<div class="example-loading-shade"
						*ngIf="isLoadingResults || isRateLimitReached">
					 		<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
				   </div>
					<mat-table #table2 [dataSource]="dataSource8">
							<ng-container matColumnDef="_id">
									<mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row._id}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="com_name">
										<mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
										<mat-cell *matCellDef="let row"> {{row.com_name}} </mat-cell>
									</ng-container>
								<ng-container matColumnDef="email">
									<mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="phone">
									<mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="industry">
									<mat-header-cell *matHeaderCellDef> Industry </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.industry}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="employees">
									<mat-header-cell *matHeaderCellDef> Employees </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.employees}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="square_footage">
									<mat-header-cell *matHeaderCellDef> Square footage </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.square_footage}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="wash_rooms">
									<mat-header-cell *matHeaderCellDef> Wash Rooms </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.wash_rooms}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="kitchens">
									<mat-header-cell *matHeaderCellDef> Kitchens </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.kitchens}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="primary_flooring">
									<mat-header-cell *matHeaderCellDef> Primary Flooring </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.primary_flooring}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="created_date">
									<mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.created_date | dateFormatPipe }} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="updated_date">
									<mat-header-cell *matHeaderCellDef> Updated Date </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.updated_date | dateFormatPipe }} </mat-cell>
								</ng-container>
								<mat-header-row *matHeaderRowDef="displayedColumns8"></mat-header-row>
								<mat-row *matRowDef="let row; columns: displayedColumns8;"></mat-row>
					</mat-table>
					<mat-paginator 

									[length]="pagination_data.total"
									[pageSizeOptions]="pagination_item_counts"
									(page)="pageEvent($event)"
									showFirstLastButtons
									></mat-paginator>
				</div>
			</div>
</div>