<div class="modal-header">
	<h4 class="modal-title">Export data associated with a Mobile Number</h4>
  </div>
  <div class="modal-body">
	<div class="form-group">
		<div class="row">
			<label class="col-form-label"><b>Mobile Number</b></label>
		</div>
		<div class="row">
			<input type="text" class="form-control" placeholder="94761234567">
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<p style="color:gray">Number should be in international format. Eg: 94761234567</p>
		</div>
	</div>
  </div>
  <div class="modal-footer">
	  <div class="row">
			<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
	  </div>
	  <div class="row">
			<button mat-raised-button color="primary">Export Data</button>
	  </div>
  </div>
