<div class="row">
	<div class="col-xl-12">
		 <div class="row row-full-height">
			<div class="kt-portlet">
				<form class="kt-form">
					<div class="row" style="display: contents;margin:10% 0%">
						<h3 align="center">
							Select Date Range
						</h3>
						<mat-divider></mat-divider>
						<br>
						<div class="row">
							<div class="col-lg-1"></div>
							<div class="col-lg-8">
								<div class="form-group" id="modalForm" style="text-align: left; width: 200px !important;">
									<mat-form-field>
										<mat-label>From</mat-label>
										<input matInput [matDatepicker]="picker1" placeholder="2019-09-18" [formControl]="">
										<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
									</mat-form-field>
								</div>

								<div class="form-group" id="modalForm">
									<mat-form-field>
										<mat-label>To</mat-label>
										<input matInput [matDatepicker]="picker2" placeholder="2019-09-25" [formControl]="">
										<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
										<mat-datepicker #picker2></mat-datepicker>
									</mat-form-field>
								</div>

								<div class="form-group" id="modalForm">
										<button mat-raised-button color="primary" style="text-align: center!important;">Get Logs</button>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="from-group" id="modalForm">
									<div class="col">
										<div ngbDropdown class="d-inline-block">
											<mat-icon id="dropdownBasic1" ngbDropdownToggle style="cursor: pointer">settings</mat-icon>
											<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
												<button ngbDropdownItem (click)="openWipeData()">Wipe data associated with a Mobile Number</button>
												<button ngbDropdownItem (click)="openExportData()">Export data associated with a Mobile Number</button>
											</div>
										</div>
									</div>
									<!-- <input type="text" class="form-control" placeholder="2019-09-17" name="from" style="width: 200px !important; margin: 0% 10% !important; text-align: left;">
									<label class="form-control-label">To: </label>
									<input type="text" class="form-control" placeholder="2019-09-24" name="to" style="width: 200px !important; margin: 0% 10% !important; text-align: left;"> -->
								<!-- </div> -->

								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="example-container mat-elevation-z8">
						<table mat-table [dataSource]="dataSource">

						<!-- position Column -->
						<ng-container matColumnDef="position">
						  <th mat-header-cell *matHeaderCellDef> # </th>
						  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
						</ng-container>

						<!-- message_id Column -->
						<ng-container matColumnDef="message_id">
						  <th mat-header-cell *matHeaderCellDef> MESSAGE ID </th>
						  <td mat-cell *matCellDef="let element"> {{element.message_id}} </td>
						</ng-container>

						<!-- message Column -->
						<ng-container matColumnDef="message">
						  <th mat-header-cell *matHeaderCellDef> MESSAGE </th>
						  <td mat-cell *matCellDef="let element"> {{element.message}} </td>
						</ng-container>

						<!-- sender_id Column -->
						<ng-container matColumnDef="sender_id">
						  <th mat-header-cell *matHeaderCellDef> SENDER ID </th>
						  <td mat-cell *matCellDef="let element"> {{element.sender_id}} </td>
						</ng-container>

						<!-- mobile_no Column -->
						<ng-container matColumnDef="mobile_no">
							<th mat-header-cell *matHeaderCellDef> MOBILE NO </th>
							<td mat-cell *matCellDef="let element"> {{element.mobile_no}} </td>
						  </ng-container>

						  <!-- created_on Column -->
						  <ng-container matColumnDef="created_on">
							<th mat-header-cell *matHeaderCellDef> CREATED ON </th>
							<td mat-cell *matCellDef="let element"> {{element.created_on}} </td>
						  </ng-container>

						  <!-- status Column -->
						  <ng-container matColumnDef="status">
							<th mat-header-cell *matHeaderCellDef> STATUS </th>
							<td mat-cell *matCellDef="let element"> {{element.status}} </td>
						  </ng-container>

						  <!-- pages Column -->
						  <ng-container matColumnDef="pages">
							<th mat-header-cell *matHeaderCellDef> PAGES </th>
							<td mat-cell *matCellDef="let element"> {{element.pages}} </td>
						  </ng-container>

						  <!-- credits Column -->
						  <ng-container matColumnDef="credits">
							<th mat-header-cell *matHeaderCellDef> CREDITS </th>
							<td mat-cell *matCellDef="let element"> {{element.credits}} </td>
						  </ng-container>

						  <!-- <ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef>
									Actions
							</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button type="button" (click)="editProduct(row._id)" mat-icon-button color="primary" matTooltip="Edit product">
									<mat-icon>create</mat-icon>
								</button>&nbsp;
								<button mat-icon-button color="warn" type="button" (click)="deleteProduct(row._id)" matTooltip="Delete product">
									<mat-icon>delete</mat-icon>
								</button>&nbsp
							</mat-cell>
						</ng-container> -->

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					  </table>
					</div>

				</form>
			</div>
			<!-- <mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field> -->


		 </div>
	</div>
</div>

