.example-container {
	display: flex;
	flex-direction: column;
	max-height: 500px;
	min-width: 300px;
	position: relative;
  }

  .mat-table {
	overflow: auto;
	max-height: 500px;
  }

  .mat-header-cell.mat-sort-header-sorted {
	color: black;
  }

  .example-header {
	min-height: 64px;
	padding: 8px 24px 0;
  }

  .mat-form-field {
	font-size: 14px;
	width: 100%;
  }

  .mat-table {
	overflow: auto;
	max-height: 500px;
  }
  .mat-column-select {
	overflow: initial;
  }
  .example-header {
	min-height: 64px;
	display: flex;
	align-items: center;
	padding-left: 24px;
	font-size: 20px;
  }

  .example-table {
	overflow: auto;
	min-height: 300px;
  }

.example-loading-shade {
position: absolute;
top: 0;
left: 0;
bottom: 56px;
right: 0;
background: rgba(0, 0, 0, 0.15);
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
}

.example-rate-limit-reached {
color: #980000;
max-width: 360px;
text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
max-width: 64px;
}

.mat-column-created {
max-width: 124px;
}

h3{
	font-size: 2rem;
	margin: 18px 0px;
}

th.mat-header-cell{
	font-size: 15px;
}

#modalForm{
	display: inline-block;
	margin: 0px 45px;
	vertical-align: middle;

}

.material-icons{
	font-size: 25px!important;
	margin: 13px;
}

.dropdown-menu{
	padding: 0rem;
}

.dropdown-item:hover{
	background-color: gray;
	color: white;
}

//******************start Modal Css****************//
.modal-title{
	margin: 0px;
}

.modal-body{
	padding: 10px 35px;
	color: #464444;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

.sender_id{
	width: 88%;
}

.modal-footer{
	justify-content: flex-end;
	margin-right: 20px;
}

.col-form-label{
	font-size: 1.2rem!important;
}

.modal-content{
	width: 115%!important;
}

.form-group{
	margin-bottom: 0px;
}


