<div class="kt-portlet kt-portlet--height-fluid">
	<mat-horizontal-stepper [linear] = "" #stepper>
		<mat-step [stepControl] = "firstFormGroup">
		   <form [formGroup] = "firstFormGroup">
				<ng-template matStepLabel>Select Plan</ng-template>
				<div class="row" style="margin: 0px 14px 100px 14px">
						<div class="col-md-3 col-lg-3"  *ngFor= "let plan of plan_list"  >
							<div  class="{{plan.color}}">
							<mat-card align="center" [ngStyle]="{'padding-bottom' : '0px'}">
								<mat-card-title ><p>{{plan.name}}</p></mat-card-title>
									<mat-card-content>
										<h3>
											<b>{{plan.price}}</b>
										</h3>
										<h4>
											{{plan.sms}} SMS Credits
										</h4>
										<p>
											Valid for {{plan.month}} months
										</p>
										<br>
										<div class="form-group row">
										<div class="col-md-6 col-lg-6 col-form-label">
											<p>Quantity:<p>
										</div>
										<div class="col-md-6 col-lg-6" ng-app="">
											<input type="number" class="form-control" value="1" min="1" max="5" [(ngModel)]="quantity">
										</div>

										</div>

									</mat-card-content>

									<div class="{{plan.footer}}">
										<mat-card-footer>
											<div class=" row">
												<div class="col-md-6 col-lg-6 col-form-label" style="margin: 15px 4px;">
													<p><b>Total: {{quantity}}  </b></p>
												</div>
												<div class="col-md-6 col-lg-6" style="margin: 15px -30px;" >
													<button type="button"  class = "{{plan.btn}}" matStepperNext>Select</button>
											</div>
											</div>
										</mat-card-footer>
									</div>
								</mat-card>
							</div>
						</div>
				</div>
		   </form>
		</mat-step>
		<mat-step [stepControl] = "secondFormGroup" class="second">
		   <form [formGroup] = "secondFormGroup">
				<ng-template matStepLabel>Billing Info</ng-template>
				<div class="row">
					<div class="col-md-3 col-lg-3"></div>
					<div class="col-md-6 col-lg-6">
					  <mat-card class="billing_mat">
						  <div class="row">
							<div class="col-lg-12">
								<h3>Billing Info</h3>
							</div>
						  </div>
						  <div class="form-group row">
							  <label class="col-x1-4 col-lg-3 col-form-label" >Name:</label>
							  <div class="col-lg-9 col-xl-8">
								  <input type="text" class="form-control" placeholder="ss" >
							  </div>
						  </div>
						  <div class="form-group row">
							  <label class="col-x1-4 col-lg-3 col-form-label" >Email:</label>
							  <div class="col-lg-9 col-xl-8">
								  <input type="email" class="form-control" placeholder="tey@gmail.com" >
							  </div>
						  </div>
						  <div class="form-group row">
								  <label class="col-x1-4 col-lg-3 col-form-label" >Phone:</label>
								  <div class="col-lg-9 col-xl-8">
									  <input type="text" class="form-control" placeholder="077 777 7777" >
								  </div>
						  </div>
						  <div class="form-group row">
								  <label class="col-x1-4 col-lg-3 col-form-label" >Street Address:</label>
								  <div class="col-lg-9 col-xl-8">
									  <input type="text" class="form-control" placeholder="777" >
								  </div>
						  </div>
						  <div class="form-group row">
								  <label class="col-x1-4 col-lg-3 col-form-label" >Street Address2:</label>
								  <div class="col-lg-9 col-xl-8">
									  <input type="text" class="form-control" placeholder="77" >
								  </div>
						  </div>
						  <div class="form-group row">
								  <label class="col-lg-3 col-form-label" >City:</label>
								  <div class="col-xl-4 col-lg-4">
									  <input type="text" class="form-control" style="width: 65%;" placeholder="77" >
								  </div>
								  <label class="col-lg-1 col-form-label" >zip:</label>
								  <div class="col-xl-4 col-lg-4">
									  <input type="text" class="form-control" style="width: 65%;" placeholder="7" >
								  </div>
						  </div>
						  <div class="form-group row">
								  <label class="col-lg-3 col-form-label" >State:</label>
								  <div class="col-lg-4">
									  <input type="text" class="form-control" style="width: 65%;" placeholder="77" >
								  </div>
								  <label class="col-lg-1 col-form-label" >Country: &nbsp;</label>
								  <div class="col-lg-4">
									  <input type="text" class="form-control" style="width: 65%;" placeholder="Sri Lanka" required>
								  </div>
						  </div>
						  <div class="row">
							  <div class="col-lg-12">
								<p><input type="checkbox" class="checkbox">&nbsp;&nbsp;Save billing details in my account</p>
							  </div>
						  </div>
						  <br>
						  <mat-card-footer style="background-color: #ecf0f1;">
							<div class="row">
								<div class="col-lg-6 btn_previous" >
									<button mat-raised-button color="#bfd0d4" matStepperPrevious>Back</button>
								</div>
								<div class="col-lg-6 btn_next">
									<button mat-raised-button color="primary" matStepperNext>Next</button>
								</div>
							</div>
						  </mat-card-footer>
					  </mat-card>
					</div>
					<div class="col-md-3 col-lg-3"></div>
				</div>

			</form>
		</mat-step>
		<mat-step>
		   <ng-template matStepLabel>Purchase</ng-template>
		   <div class="row">
		   <div class="col-md-3 col-lg-3"></div>
		   <div class="col-md-6 col-lg-6">
			 <mat-card class="purch_mat_1">
				 <div class="row">
					 <div class="col-lg-12">
						<h3>Select Payment Method</h3>
					 </div>
				 </div>
				 <div class="row">
					 <div class="col-lg-6">
							<button mat-raised-button class="mat_3 {{payment_method == 'card_pamyment'? 'active' :''}}" (click)="payment_method = 'card_pamyment'">
								<div class="crd_payment" >
									<h4><mat-icon class="mat_ico">credit_card</mat-icon></h4>
									<p>Card Payment</p>
					 			</div>
							</button>
					 </div>
					 <div class="col-lg-6">
							<button mat-raised-button class="mat_3 {{payment_method == 'bank_pamyment' ? 'active' :''}}" (click)=" payment_method = 'bank_pamyment'">
								<div class="bnk_transfer" >
									<h4><mat-icon class="mat_ico">store_mall_directory</mat-icon></h4>
									<p>Bank Transfer</p>
								</div>
							 </button>
					 </div>
				 </div>
				 <br>
				 <div class="row">
					<mat-card class="purch_mat_4" >
						<mat-card-content *ngIf="payment_method == 'card_pamyment'">
							<p>Plan Name:  </p>
							<p>Quantity: </p>
							<p>Total SMS Credits: </p>
							<p><b>Total Amount:</b></p>
						</mat-card-content>
						<mat-card-content *ngIf="payment_method == 'bank_pamyment'">
							<p>Plan Name: </p>
							<p>Quantity: </p>
							<p>Total SMS Credits: </p>
							<div class="row" style="display: inline-flex;">
								<div class="col-md-6">
										<p ><b>Total Amount:$18 &nbsp;</b></p>
								</div>
								<div class="col-md-6">
									<select class="form-control" name="From">
										<option value="option1">United State(USD)</option>
										<option value="option2">Sri Lankan Rupees(LKR)</option>
									</select>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				 </div>
				 <br>
				 <mat-card-footer style="background-color: #ecf0f1;">
						<div class="row" *ngIf="payment_method == 'card_pamyment'">
							<div class="col-lg-6 btn_previous" >
								<button mat-raised-button color="#bfd0d4" matStepperPrevious>Back</button>
							</div>
							<div class="col-lg-6 btn_next">
								<button mat-raised-button color="primary" matStepperNext>Pay </button>
							</div>
						</div>
						<div class="row" *ngIf="payment_method == 'bank_pamyment'">
								<div class="col-lg-6 btn_previous" >
									<button mat-raised-button color="#bfd0d4" matStepperPrevious>Back</button>
								</div>
								<div class="col-lg-6 btn_next">
									<button mat-raised-button color="primary" matStepperNext>Place Order</button>
								</div>
							</div>
					</mat-card-footer>
			 </mat-card>
		   </div>
		   <div class="col-md-3 col-lg-3"></div>
		   </div>

		</mat-step>
	 </mat-horizontal-stepper>
</div>
