//******start select plan css******

.col1{
	border: 1px solid #bfd0d4;

}
.col1 mat-card-title{
	background-color:  #bfd0d4;
}

.btn_1{
	background-color: #bfd0d4;
}

.col2{
	border: 1px solid #3498db;
}

.col2 mat-card-title{
	background-color:  #3498db;
}

.btn_2{
	background-color: #3498db;
}

.col3{
	border: 1px solid #18bc9c;
}

.col3 mat-card-title{
	background-color:  #18bc9c;
}

.btn_3{
	background-color: #18bc9c;
}

.col4 {
	border: 1px solid #f39c12;
}


.col4 mat-card-title{
	background-color:  #f39c12;
}

.btn_4{
	background-color: #f39c12;
}

.btn_1, .btn_2, .btn_3, .btn_4{
	color: white;
	border-radius: 5px;
	width: 70px;
	height: 30px;
}

.col1 mat-card-title{
	color: black!important;
}

.col1 mat-card-title, .col2 mat-card-title, .col3 mat-card-title, .col4 mat-card-title{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: white;
	margin: -16px;
	height: 47px;
	line-height: 45px;
}

.col1, .col2, .col3, .col4{
	border-radius: 5px;
}

.mat-card-content{
	margin: 16px;

}

.mat-card{
	border-radius: 5px;
}

h3{
	line-height: 3.2;
}

.plan_footer{
	margin-top: -16px;
	border-radius: 5px;
	height: 68px;
	background-color: #ecf0f1;

}
.mat-card-footer{
	margin-top: -16px;
	border-radius: 5px;
	height: 68px;
	background-color: #ecf0f1;
}

.form-group{
	display: flex;
}

.col-form-label{
	text-align: right;
}

.form-control{
	width: 100%;
}

//******end select plan css*********


//******start billing info css******

.col-md-6 mat-card{
	border: 1px solid blue;
	border-radius: 5;
}
.col-form-label{
	text-align: end;
	font-weight: bold;
}

.form-group label{
	font-size: 13px;
}

.col-lg-12{
	text-align: center;
}

.col-lg-12 p{
	font-size: 14px;
}

.btn_previous{
	text-align: start;
	padding: 16px 50px;


}

.btn_previous button, .btn_next button{
	width: 45%;
}

.btn_next{
	text-align: end;
	padding: 16px 50px;
}

.billing_mat{
	border: 1px solid #b3c6ce!important;
}

.col-lg-4{
	border: none;
}

//******end billing info css*******

//******start purchase css*******


.mat_3 :hover{
	background-color: #18bc9c;
	color: white;
}

.mat_3.active{
	border-color: #18bc9c;

}

.mat_3{
	text-align: center;
	font-size: 20px;
	width: 100%;
	padding: 0px;
	height: 120px;

}

.mat_3 p{
	margin-bottom: 0px;
}

.mat_ico{
	font-size: 50px!important;
	text-align: center;
}

.purch_mat_1, .purch_mat_2, .purch_mat_3, .purch_mat_4{
	border: 1px solid #b3c6ce!important;
}

.purch_mat_2, .purch_mat_3{
	width: 100%;
	height: 132px;
}

.purch_mat_4{
	width: 100%;
	margin: 0px 10px 10px;
	border: 1px solid white!important;
	text-align: center;
}

.crd_payment, .bnk_transfer{
	height: 116px;
}


//******end purchase css******
