<div class="kt-portlet kt-portlet--height-fluid">
		<div class="row" style="display: contents;">
			<h3 align="center">
				Team Details
			</h3>
		</div>
			<mat-divider></mat-divider>
			<div class="kt-portlet__body" align="center">
				<div class="form-group row">
					<label class="col-x1-3 col-lg-5 col-form-label" >Team Name:</label>
					<div class="col-lg-7 col-xl-6">
						<input type="text" class="form-control" placeholder="Enter Team Name" >
					</div>
				</div>
				<div class="form-group row">
					<label class="col-x1-3 col-lg-5 col-form-label" >Team Member Name:</label>
					<div class="col-lg-7 col-xl-6">
						<input type="text" class="form-control" placeholder="Enter Team Member Name" >
					</div>
				</div>
				<div class="form-group row">
						<label class="col-x1-3 col-lg-5 col-form-label" >Team Secret:</label>
						<div class="col-lg-7 col-xl-6">
							<input type="text" class="form-control" placeholder="Enter Team Secret" >
						</div>
				</div>
				<div class="form-group row">
					<label class="col-x1-3 col-lg-5 col-form-label" >Created Date:</label>
					<div class="col-lg-7 col-xl-6">
						<div class="input-group">
								<input class="form-control" [matDatepicker]="picker1" placeholder="Choose a Created Date">
							<div class="input-group-prepend">
								<span class="input-group-text" style="height: 38px;">
									 <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
									 <mat-datepicker #picker1></mat-datepicker>
								</span>
							</div>
						</div>
					</div>
				</div>
					<a class="btn btn-info" href="#" style="width: 10%; margin-left: 60%; margin-top: 5px; margin-bottom: 10px;"> SUBMIT</a>
			</div>
	</div>
