<div class="kt-portlet kt-portlet--height-fluid">
	<div class="row" style="display: contents;">
		<h3 align="center">
			Comapny Details
		</h3>
	</div>
		<mat-divider></mat-divider>
		<div class="kt-portlet__body" align="center">
			<div class="form-group row">
				<label class="col-x1-3 col-lg-5 col-form-label" >Company Name:</label>
				<div class="col-lg-7 col-xl-6">
					<input type="text" class="form-control" placeholder="Enter Company Name" >
				</div>
			</div>
			<div class="form-group row">
				<label class="col-x1-3 col-lg-5 col-form-label" >Company Address:</label>
				<div class="col-lg-7 col-xl-6">
					<input type="text" class="form-control" placeholder="Enter Company Address" >
				</div>
			</div>
			<div class="form-group row">
				<label class="col-x1-3 col-lg-5 col-form-label" >Company Email:</label>
				<div class="col-lg-7 col-xl-6">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<mat-icon style="height: 19px;">email</mat-icon>
							</span>
						</div>
						<input type="text" class="form-control" placeholder="Enter Company Email" >
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-x1-3 col-lg-5 col-form-label" >Company Telephone Number:</label>
				<div class="col-lg-7 col-xl-6">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<mat-icon style="height: 19px;">call</mat-icon>
							</span>
						</div>
						<input type="text" class="form-control" placeholder="Enter Company Telephone No" >
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-x1-3 col-lg-5 col-form-label" >Status:</label>
				<div class="col-lg-7 col-xl-6">
					<input type="text" class="form-control" placeholder="Enter Status" >
				</div>
			</div>
			<div class="form-group row">
				<label class="col-x1-3 col-lg-5 col-form-label" >Created Date:</label>
				<div class="col-lg-7 col-xl-6">
					<div class="input-group">
							<input class="form-control" [matDatepicker]="picker1" placeholder="Choose a Created Date">
						<div class="input-group-prepend">
							<span class="input-group-text" style="height: 38px;">
 								<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
 								<mat-datepicker #picker1></mat-datepicker>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-x1-3 col-lg-5 col-form-label" >Updated Date:</label>
				<div class="col-lg-7 col-xl-6">
					<div class="input-group">
						<input class="form-control" [matDatepicker]="picker2" placeholder="Choose a Updated Date">
						<div class="input-group-prepend">
							<span class="input-group-text" style="height: 38px;">
								<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
								<mat-datepicker #picker2></mat-datepicker>
							</span>
						</div>
					</div>
				</div>
			</div>
				<a class="btn btn-info" href="#" style="width: 10%; margin-left: 60%; margin-top: 5px; margin-bottom: 10px;"> SUBMIT</a>
		</div>
</div>
