	<header>
		<h1>
			<button type="button" class="open-nav" id="open-nav">

			</button>
			<a href="/">
				<img src="">
			</a>
		</h1>
		<div id="sidebar" class="sidebar">
			<section>
				<h6>Documentation</h6>
				<ul>
					<li>
						<a href="#documentationgetting_started" class="active">
							Getting Started
						</a>
					</li>
					<li>
						<a href="#documentationauthentication" class="active">
							Authentication
						</a>
					</li>
					<li>
						<a href="#documentationerrors" class="active">
							Errors
						</a>
					</li>
				</ul>
			</section>
			<!-- <section>
				<h6>Lite API</h6>
				<ul>
					<li>
						<a href="#liteapiintroduction">
							Introduction
						</a>
					</li>
					<li>
						<a href="#liteapimessage_send">
							"/messages"
							<span class="endpoint post"></span>
						</a>
					</li>
					<li>
						<a href="#liteapimessage_status">
							"/logs/{id}"
							<span class="endpoint get"></span>
						</a>
					</li>
				</ul>
			</section>
			<section>
				<h6>CRM API</h6>
				<ul>
					<li>
						<a href="#coreapiintroduction">
							Introduction
						</a>
					</li>
					<li>
						<a href="#coreapicontent_create_update">
							"/contacts"
							<span class="endpoint post"></span>
						</a>
					</li>
					<li>
						<a href="#coreapiactivity_create">
							"/activities"
							<span class="endpoint post"></span>
						</a>
					</li>
				</ul>
			</section>
			<section>
				<h6>OTP API</h6>
				<ul>
					<li>
						<a href="#otpapiintroduction">
							Introduction
						</a>
					</li>
					<li>
						<a href="#otpapiotp_send">
							"/otp/send"
							<span class="endpoint post"></span>
						</a>
					</li>
					<li>
						<a href="#otpapiotp_verify">
							"/otp/verify"
							<span class="endpoint post"></span>
						</a>
					</li>
				</ul>
			</section>
			<section>
				<h6>Loyality API</h6>
				<ul>
					<li>
						<a href="#loyalityapiintroduction">
							Introduction
						</a>
					</li>
					<li>
						<a href="#loyalityapienroll_user">
							Enroll User

						</a>
					</li>
					<li>
						<a href="#loyalityapiuser_get">
							"/users/:id"
							<span class="endpoint post"></span>
						</a>
					</li>
					<li>
						<a href="#loyalityapicollect_points">
							"/points Collect"
							<span class="endpoint post"></span>
						</a>
					</li>
					<li>
						<a href="#loyalityapiredeem_points">
							"/points Redeem"
							<span class="endpoint post"></span>
						</a>
					</li>
				</ul>
			</section>
			<section>
				<h6>Rewards API</h6>
				<ul>
					<li>
						<a href="#rewardsapiintroduction">
							Introduction
						</a>
					</li>
					<li>
						<a href="#rewardsapireward_create">
							"/rewards"
							<span class="endpoint post"></span>
						</a>
					</li>
					<li>
						<a href="#rewardsapireward_update">
							"/rewards"
							<span class="endpoint post"></span>
						</a>
					</li>
					<li>
						<a href="#rewardsapireward_delete">
							"/rewards/:id"
							<span class="endpoint post"></span>
						</a>
					</li>
					<li>
						<a href="#rewardsapireward_set">
							"/rewards"
							<span class="endpoint post"></span>
						</a>
					</li>
				</ul>
			</section>
		</div>
		<p class="copyright">
			<a href="https://cloudcannon.com/"> Template by cloudcannon</a>
		</p>
	</header>
	<div class="main">
		<section class="doc-content">
			<section class="left-docs">
				<h3>
					<a id="documentationgetting_started">
						Getting Started
					</a>
				</h3>
				<p>Welcome to SMS-Round Developer Documentation</p>
				<p>This API document is designed for those interested in developing for our platform.</p>
				<p>This API is still under developing for our platform.</p>
			</section>
		</section> -->
		<section class="doc-content">
			<section class="left-docs">
				<h3>
					<a id="documentationauthentication">
						Authentication
					</a>
				</h3>
				<p>You need to be authenticated for all API requests. You can generate an API key in our developer dashboard.</p>
				<p>Add the API key to all requests as a header.</p>
				<p class="error">Nothing will work unless you nclude this API key</p>
			</section>
			<section class="right-code">

			</section>
		</section>
	</div>
 -->
