<!-- row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="m-t-30" [formGroup]="adminRegisterForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name
                        </label>
                    <input type="text" name="firstName" formControlName="firstName" class="form-control" value=""  placeholder="Enter First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name
                        </label>
                        <input type="text" name="lastName" formControlName="lastName" class="form-control" value=""  placeholder="Enter Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label>Contact No
                        </label>
                        <input type="text" name="contactno" formControlName="contactno" class="form-control" value=""  placeholder="Enter Contact No" [ngClass]="{ 'is-invalid': submitted && f.contactno.errors }">
                            <div *ngIf="submitted && f.contactno.errors" class="invalid-feedback">
                                <div *ngIf="f.contactno.errors.required">Contact No is required</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input name="email" type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback" >
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- row -->