						<!--Begin::Section-->
						<div class="row">
								<div class="col-xl-12">
	
									<!--begin:: Widgets/Quick Stats-->
									<div class="row row-full-height">
	
										<div class="kt-portlet">
											<div class="kt-portlet__head">
												<div>
	
												</div>
												<div class="kt-portlet__head-label">
													<div class="row">
														<div class="col-md-6">
															<h3 class="kt-portlet__head-title">
	
															</h3>
														</div>
														<div class="col-md-6">
	
														</div>
													</div>
												</div>
											</div>
	
											<!--begin::Form-->
											<form class="kt-form">
												<div class="kt-portlet__body">
	
													<div class="row">
														<div class="col-md-12">
															<div class="form-group" style="display: flex; margin-left: 5%;">
																<div class="col-lg-2">
																</div>
																<div class="col-lg-4">
																	<label class="kt-option ">
	
																		<span class="kt-option__label">
	
																			<span class="kt-option__head">
																				<span class="kt-option__title">
																					START
																				</span>
																			</span>
																			<span class="kt-option__control">
																				<span class="kt-radio kt-radio--bold kt-radio--brand" style="display: none !important;">
																					<input type="radio" name="m_option_1" value="TankRefill" checked="checked">
																					<span></span>
																				</span>
																			</span>
																		</span>
	
																	</label>
	
																</div>
																<div class="col-lg-4">
																	<label class="kt-option active">
	
																		<span class="kt-option__label">
	
																			<span class="kt-option__head">
																				<span class="kt-option__title">
																					FINISH
																				</span>
	
																			</span>
																			<span class="kt-option__control">
																				<span class="kt-radio kt-radio--bold kt-radio--brand" style="display: none !important;">
																					<input type="radio" name="m_option_1" value="NewPropaneTank" >
																					<span></span>
																				</span>
																			</span>
																		</span>
																	</label>
	
																</div>
															</div>
															<div class="col-lg-8" style="margin-left: 19%;">
																<div class="form-group ">
																	<label for="recipient-name" class="form-control-label">Shift Information:</label>
																	<div class="input-group">
																		<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Date</span></div>
																		<input type="text" class="form-control left-addon-input" placeholder="July 22, 2019" disabled="disabled" aria-describedby="basic-addon1">
																	</div>
	
																</div>
																<div class="form-group ">
																	<div class="input-group">
																		<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Attendant</span></div>
																		<input type="text" class="form-control left-addon-input" placeholder="Sunny" disabled="disabled" aria-describedby="basic-addon1">
																	</div>
																	<span class="form-text text-muted">Some help content goes here</span>
																</div>
																<div class="form-group">
																	<label for="recipient-name" class="form-control-label">Auto Propane Information:</label>
																	<div class="dispenser-box">
																		Dispenser 1
																	</div>
																	<div class="input-group">
																		<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Start</span></div>
																		<input type="text" class="form-control left-addon-input" placeholder="8,098,909.908" disabled="disabled" aria-describedby="basic-addon1">
																	</div>
																	<div class="input-group">
																	<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Start</span></div>
																	<input type="text" class="form-control left-addon-input" placeholder="Enter Finishing Litres" aria-describedby="basic-addon1">
																</div>
																</div>
																<div class="form-group">
																	<div class="dispenser-box">
																		Dispenser 2
																	</div>
																	<div class="input-group">
																		<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Start</span></div>
																		<input type="text" class="form-control left-addon-input" placeholder="8,098,909.908" disabled="disabled" aria-describedby="basic-addon1">
																	</div>
																	<div class="input-group">
																	<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Start</span></div>
																	<input type="text" class="form-control left-addon-input" placeholder="Enter Finishing Litres" aria-describedby="basic-addon1">
																</div>
																</div>
																<div class="form-group">
																	<label for="recipient-name" class="form-control-label">Propane Tank Information:</label>
																	<div class="dispenser-box">
																		Tank Dispenser 1
																	</div>
																	<div class="input-group">
																		<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Start</span></div>
																		<input type="text" class="form-control left-addon-input" placeholder="8,098,909.908" disabled="disabled" aria-describedby="basic-addon1">
																	</div>
																	<div class="input-group">
																	<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Start</span></div>
																	<input type="text" class="form-control left-addon-input" placeholder="Enter Finishing Litres" aria-describedby="basic-addon1">
																</div>
																</div>
															</div>
														</div>
	
													</div>
	
												</div>
												<div class="kt-portlet__foot">
													<div class="kt-form__actions">
														<p align="right">
														<button type="reset" class="btn btn-primary" ahref="#">Submit</button>
													</p>
														<!-- <a class="btn btn-primary" href="demo4/invoice1.html"> Submit </a>
														<button type="reset" class="btn btn-secondary">Cancel</button> -->
													</div>
												</div>
											</form>
	
											<!--end::Form-->
										</div>
									</div>
	
									<!--end:: Widgets/Quick Stats-->
								</div>
							</div>
	
							<!--End::Section-->