<div class="kt-portlet kt-portlet--height-fluid">
	<div class="row" style="display: contents;">
		<h3 align="center" style="font-size: 2.75rem; line-height: 3;">
			Pricing Plans
		</h3>
	</div>
	<div class="row" style="margin: 0px 14px 100px 14px">
			<div class="col-md-3 col-lg-3" >
				<mat-card align="center" class="col1">
					<mat-card-title  style="color:black;"><p>Starter</p></mat-card-title>
						<mat-card-content>
							<h3>
								<b>$ 18</b>
							</h3>
							<h4>
								1000 SMS Credits
							</h4>
							<p>
								Valid for 1 months
							</p>
							<br>
							<div class="form-group row">
							<div class="col-md-6 col-lg-6 col-form-label">
								<p>Quantity:<p>
							</div>
							<div class="col-md-6 col-lg-6">
								<input type="number" class="form-control" value="1" min="1" max="5" id="kt_notify_spacing">
							</div>
							</div>
						</mat-card-content>
						<mat-card-footer>
							<div class="form-group row">
								<div class="col-md-6 col-lg-6 col-form-label" style="margin: 15px 4px;">
									<p><b>Total: $ 18</b></p>
								</div>
								<div class="col-md-6 col-lg-6" style="margin: 15px -30px;">
									<button mat-raised-button class="btn_1">Select</button>
								</div>
							</div>
						</mat-card-footer>
					</mat-card>
			</div>
			<div class="col-md-3 col-lg-3">
				<mat-card align="center" class="col2">
					<mat-card-title>Lite</mat-card-title>
						<mat-card-content>
							<h3>
								<b>$ 75</b>
							</h3>
							<h4>
								5000 SMS Credits
							</h4>
							<p>
								Valid for 6 months
							</p>
							<br>
							<div class="form-group row">
								<div class="col-md-6 col-lg-6 col-form-label">
									<p>Quantity:<p>
								</div>
								<div class="col-md-6 col-lg-6">
									<input type="number" class="form-control" value="1" min="1" max="5" id="kt_notify_spacing">
								</div>
							</div>
						</mat-card-content>
						<mat-card-footer>
							<div class="form-group row">
								<div class="col-md-6 col-lg-6 col-form-label" style="margin: 15px 4px;">
									<p><b>Total: $ 75</b></p>
								</div>
								<div class="col-md-6 col-lg-6" style="margin: 15px -30px;">
									<button mat-raised-button class="btn_2">Select</button>
								</div>
							</div>
						</mat-card-footer>
					</mat-card>
			</div>
			<div class="col-md-3 col-lg-3">
				<mat-card align="center" class="col3">
					<mat-card-title><p>Moderate</p></mat-card-title>
						<mat-card-content>
							<h3>
								<b>$ 120</b>
							</h3>
							<h4>
								10000 SMS Credits
							</h4>
							<p>
								Valid for 12 months
							</p>
							<br>
							<div class="form-group row">
								<div class="col-md-6 col-lg-6 col-form-label">
									<p>Quantity:<p>
								</div>
								<div class="col-md-6 col-lg-6">
									<input type="number" class="form-control" value="1" min="1" max="5" id="kt_notify_spacing">
								</div>
							</div>
						</mat-card-content>
						<mat-card-footer>
							<div class="form-group row">
								<div class="col-md-6 col-lg-6 col-form-label" style="margin: 15px 4px;">
									<p><b>Total: $ 120</b></p>
								</div>
								<div class="col-md-6 col-lg-6" style="margin: 15px -30px;">
									<button mat-raised-button class="btn_3">Select</button>
								</div>
							</div>
						</mat-card-footer>
					</mat-card>
			</div>
			<div class="col-md-3 col-lg-3">
				<mat-card align="center" class="col4">
					<mat-card-title>Blaster</mat-card-title>
						<mat-card-content>
							<h3>
								<b>$ 225</b>
							</h3>
							<h4>
								25000 SMS Credits
							</h4>
							<p>
								Valid for 12 months
							</p>
							<br>
							<div class="form-group row">
								<div class="col-md-6 col-lg-6 col-form-label">
									<p>Quantity:<p>
								</div>
								<div class="col-md-6 col-lg-6">
									<input type="number" class="form-control" value="1" min="1" max="5" id="kt_notify_spacing">
								</div>
							</div>
						</mat-card-content>
						<mat-card-footer>
							<div class="form-group row">
								<div class="col-md-6 col-lg-6 col-form-label" style="margin: 15px 4px;">
									<p><b>Total: $ 225</b></p>
								</div>
								<div class="col-md-6 col-lg-6" style="margin: 15px -30px;">
									<button mat-raised-button class="btn_4">Select</button>
								</div>
							</div>
						</mat-card-footer>
					</mat-card>
			</div>
	</div>
	<mat-divider></mat-divider>
	<div class="row" style="display: contents">
		<h3 align="center">Invoices</h3>
	</div>
	<div class="example-container mat-elevation-z8">
		<table mat-table [dataSource]="dataSource">

		<!-- created_on Column -->
		<ng-container matColumnDef="created_on">
		  <th mat-header-cell *matHeaderCellDef> <b>CREATED ON </b></th>
		  <td mat-cell *matCellDef="let element"> {{element.created_on}} </td>
		</ng-container>

		<!-- id Column -->
		<ng-container matColumnDef="id">
		  <th mat-header-cell *matHeaderCellDef>ID</th>
		  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
		</ng-container>

		<!-- amount Column -->
		<ng-container matColumnDef="amount">
		  <th mat-header-cell *matHeaderCellDef> AMOUNT </th>
		  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
		</ng-container>

		<!-- status Column -->
		<ng-container matColumnDef="status">
		  <th mat-header-cell *matHeaderCellDef> STATUS </th>
		  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
		</ng-container>

		<!-- method Column -->
		<ng-container matColumnDef="method">
			<th mat-header-cell *matHeaderCellDef> METHOD </th>
			<td mat-cell *matCellDef="let element"> {{element.method}} </td>
		  </ng-container>

		  <!-- invoice Column -->
		  <ng-container matColumnDef="invoice">
			<th mat-header-cell *matHeaderCellDef> INVOICE </th>
			<td mat-cell *matCellDef="let element"> {{element.invoice}} </td>
		  </ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	  </table>
	</div>
</div>
