.col1{
	border: 1px solid #bfd0d4;

}
.col1 mat-card-title{
	background-color:  #bfd0d4;
}

.btn_1{
	background-color: #bfd0d4;
}

.col2{
	border: 1px solid #3498db;
}

.col2 mat-card-title{
	background-color:  #3498db;
}

.btn_2{
	background-color: #3498db;
}

.col3{
	border: 1px solid #18bc9c;
}

.col3 mat-card-title{
	background-color:  #18bc9c;
}

.btn_3{
	background-color: #18bc9c;
}

.col4{
	border: 1px solid #f39c12;
}


.col4 mat-card-title{
	background-color:  #f39c12;
}

.btn_4{
	background-color: #f39c12;
}

.btn_1, .btn_2, .btn_3, .btn_4{
	color: white;
}

.col1 mat-card-title, .col2 mat-card-title, .col3 mat-card-title, .col4 mat-card-title{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: white;
	margin: -16px;
	height: 47px;
	line-height: 45px;
}

.col1 mat-card-footer, .col2 mat-card-footer, .col3 mat-card-footer, .col4 mat-card-footer {
	background-color: #ecf0f1;
}

 .mat-card-content{
	margin: 16px;

}

.mat-card{
	border-radius: 5px;
}

h3{
	line-height: 3.2;
}

.mat-card-footer{
	margin-top: -16px;
	border-radius: 5px;
	height: 68px;
}

.form-group{
	display: flex;
}

.col-form-label{
	text-align: right;
}

.form-control{
	width: 60%;
}

//Table css//

.example-container {
	display: flex;
	flex-direction: column;
	max-height: 500px;
	min-width: 300px;
	position: relative;
  }

  .mat-table {
	overflow: auto;
	max-height: 500px;
  }

  .mat-header-cell.mat-sort-header-sorted {
	color: black;
  }

  .example-header {
	min-height: 64px;
	padding: 8px 24px 0;
  }

  .mat-form-field {
	font-size: 14px;
	width: 100%;
  }

  .mat-table {
	overflow: auto;
	max-height: 500px;
  }
  .mat-column-select {
	overflow: initial;
  }
  .example-header {
	min-height: 64px;
	display: flex;
	align-items: center;
	padding-left: 24px;
	font-size: 20px;
  }

  .example-table {
	overflow: auto;
	min-height: 300px;
  }

.example-loading-shade {
position: absolute;
top: 0;
left: 0;
bottom: 56px;
right: 0;
background: rgba(0, 0, 0, 0.15);
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
}

.example-rate-limit-reached {
color: #980000;
max-width: 360px;
text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
max-width: 64px;
}

.mat-column-created {
max-width: 124px;
}

// h3{
// 	font-size: 2rem;
// 	margin: 18px 0px;
// }

th.mat-header-cell{
	font-size: 15px;
}

// .form-group{
// 	display: inline-block;
// 	margin: 0px 45px;
// 	vertical-align: middle;

// }

