<!-- begin:: Brand -->
<div class="kt-header__brand   kt-grid__item" [ngClass]="htmlClassService.getClasses('brand', true)" id="kt_header_brand">
	<div class="kt-header__brand-logo">
		<a href="javascript:;" routerLink="/demo4">
			<img alt="logo" src="./assets/media/vp/veerpreet.png" style="width:170px" class="kt-header__brand-logo-default"/>
			<img alt="logo" src="./assets/media/vp/veerpreet_black_logo.png" style="width:170px" class="kt-header__brand-logo-sticky"/>
		</a>
	</div>
</div>
<!-- end:: Brand -->
