
				<div class="kt-section">
					<h2>Job Requests</h2>
					<div class="kt-section__content">
						<div class="example-container mat-elevation-z8">
							<div class="example-loading-shade" *ngIf="isLoadingResults">
								<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
							</div>
							<mat-table #table2 [dataSource]="dataSource3" class="example-table" matSort matSortActive="created" matSortDisableClear
							matSortDirection="asc">
								<ng-container matColumnDef="_id">
									<mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row._id}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="name">
									<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="email">
									<mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="postal_code">
									<mat-header-cell *matHeaderCellDef> Postal Code </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.postal_code}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="cv_file_name">
										<mat-header-cell *matHeaderCellDef> CV </mat-header-cell>
										<mat-cell *matCellDef="let row"> 
											<!-- {{row.cv_file_name}}  -->
											<a href="{{_baseurl}}/data/cvs/{{row.cv_file_name}}" target="_blank" rel="noopener noreferrer"><button mat-raised-button color="primary">View</button>&nbsp;</a>
												
										</mat-cell>
									</ng-container>
								<ng-container matColumnDef="created_date">
									<mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
									<mat-cell *matCellDef="let row">{{ row.created_date | dateFormatPipe }} </mat-cell>
								</ng-container>
							
								<mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
								<mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
							</mat-table>
							<mat-paginator
								
								[length]="pagination_data.total"
								[pageSizeOptions]="pagination_item_counts"
								(page)="pageEvent($event)"
								showFirstLastButtons
								></mat-paginator>
						</div>
					</div>
				</div>
