<div class="kt-section">
			<h2>Contact Messages</h2>
			<div class="kt-section__content">
				<div class="example-container mat-elevation-z8">
					<div class="example-loading-shade"
						*ngIf="isLoadingResults || isRateLimitReached">
					 		<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
				   </div>
					<mat-table #table2 [dataSource]="dataSource8">
							<ng-container matColumnDef="_id">
									<mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row._id}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="name">
										<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
										<mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
									</ng-container>
								<ng-container matColumnDef="email">
									<mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="phone">
									<mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="message">
									<mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.message}} </mat-cell>
								</ng-container>
								<ng-container matColumnDef="created_date">
									<mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
									<mat-cell *matCellDef="let row"> {{row.created_date | dateFormatPipe }} </mat-cell>
								</ng-container>
							
								<mat-header-row *matHeaderRowDef="displayedColumns8"></mat-header-row>
								<mat-row *matRowDef="let row; columns: displayedColumns8;"></mat-row>
					</mat-table>
					<mat-paginator 

									[length]="pagination_data.total"
									[pageSizeOptions]="pagination_item_counts"
									(page)="pageEvent($event)"
									showFirstLastButtons
									></mat-paginator>
				</div>
			</div>
</div>