h3{
	margin: 15px 50px;
}

h4{
	margin: 20px 0px;
}

label{
	display: flex;
	font-weight: bold;
	font-size: 1rem;
}

.col-lg-4, .col-lg-7{
	border: 1px solid lightskyblue;
}

.col-lg-7 ul{
	margin-top: 10px;
}
