<kt-portlet>
	<kt-portlet-body>

		<!--begin: Wizard -->
		<div #wizard class="kt-wizard-v4" id="kt_wizard_v4" data-ktwizard-state="step-first">
			<!--begin: Form Wizard Nav -->
			<div class="kt-wizard-v4__nav">
				<div class="kt-wizard-v4__nav-items">
					<a class="kt-wizard-v4__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
						<div class="kt-wizard-v4__nav-body">
							<div class="kt-wizard-v4__nav-number">
								1
							</div>
							<div class="kt-wizard-v4__nav-label">
								<div class="kt-wizard-v4__nav-label-title">
									Add Account
								</div>
								<div class="kt-wizard-v4__nav-label-desc">
									Create Custom Account
								</div>
							</div>
						</div>
					</a>
					<a class="kt-wizard-v4__nav-item" href="javascript:;" data-ktwizard-type="step">
						<div class="kt-wizard-v4__nav-body">
							<div class="kt-wizard-v4__nav-number">
								2
							</div>
							<div class="kt-wizard-v4__nav-label">
								<div class="kt-wizard-v4__nav-label-title">
									Your Address
								</div>
								<div class="kt-wizard-v4__nav-label-desc">
									Setup Your Address
								</div>
							</div>
						</div>
					</a>
					<a class="kt-wizard-v4__nav-item" href="javascript:;" data-ktwizard-type="step">
						<div class="kt-wizard-v4__nav-body">
							<div class="kt-wizard-v4__nav-number">
								3
							</div>
							<div class="kt-wizard-v4__nav-label">
								<div class="kt-wizard-v4__nav-label-title">
									Date & Time
								</div>
								<div class="kt-wizard-v4__nav-label-desc">
									Planing and Logistics
								</div>
							</div>
						</div>
					</a>
					<a class="kt-wizard-v4__nav-item" href="javascript:;" data-ktwizard-type="step">
						<div class="kt-wizard-v4__nav-body">
							<div class="kt-wizard-v4__nav-number">
								4
							</div>
							<div class="kt-wizard-v4__nav-label">
								<div class="kt-wizard-v4__nav-label-title">
									Review Details
								</div>
								<div class="kt-wizard-v4__nav-label-desc">
									Everything clear?
								</div>
							</div>
						</div>
					</a>
					<a class="kt-wizard-v4__nav-item" href="javascript:;" data-ktwizard-type="step">
						<div class="kt-wizard-v4__nav-body">
							<div class="kt-wizard-v4__nav-number">
								5
							</div>
							<div class="kt-wizard-v4__nav-label">
								<div class="kt-wizard-v4__nav-label-title">
									Payment & Submit
								</div>
								<div class="kt-wizard-v4__nav-label-desc">
								  Relax & Enjoy
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!--end: Form Wizard Nav -->

			<div class="kt-portlet">
				<div class="kt-portlet__body kt-portlet__body--fit">
					<div class="kt-grid">
						<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v4__wrapper">
							<!--begin: Form Wizard Form-->
							<form class="kt-form" id="kt_form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
								<!--begin: Form Wizard Step 1-->
								<div class="kt-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
									<div class="kt-heading kt-heading--md">Enter your Account Details</div>
									<div class="kt-form__section kt-form__section--first">
										<div class="kt-wizard-v4__form">
											<div class="form-group">
												<label>Square Footage</label>
												<input type="text" class="form-control" id="sqft"  placeholder="1500 sq ft" formControlName="sqft" name="sqft" required [ngClass]="{ 'is-invalid': submitted && registerForm.controls['sqft'].errors }">
												<div *ngIf="submitted && registerForm.controls['sqft'].hasError('required')" class="error-message">Square Footage is required</div>
												<span class="form-text text-muted"></span>
											</div>
											<div class="form-group">
												<label>Number of Bedrooms</label>
												<input id="bedrooms" type="text" class="form-control" value="1" formControlName="bedrooms" name="bedrooms" placeholder="Select time" type="text" required [ngClass]="{ 'is-invalid': submitted && registerForm.controls['bedrooms'].errors }">
												<div *ngIf="submitted && registerForm.controls['bedrooms'].hasError('required')" class="error-message">Number of Bedrooms is required</div>
												<span class="form-text text-muted"></span>
											</div>
											<div class="form-group">
												<label>Number of Bathrooms</label>
												<input id="bathrooms" type="text" class="form-control" value="1" name="bathrooms" placeholder="Select time" type="text" formControlName="bedrooms" required [ngClass]="{ 'is-invalid': submitted && registerForm.controls['bathrooms'].errors }">
												<div *ngIf="submitted && registerForm.controls['bathrooms'].hasError('required')" class="error-message">Number of Bathrooms is required</div>
												<span class="form-text text-muted"></span>
											</div>
											<div class="form-group">
								<label>Select Cleaning Package:</label>
								<div class="kt-radio-inline">
									<label class="kt-radio">
										<input type="radio" name="radio2"> Standard Clean<a data-toggle="kt-popover" title="" data-content="This is the content for a standard clean" data-original-title="Standard Clean">	<i class="kt-font-brand flaticon-questions-circular-button"></i></a>
										<span></span>
									</label>
									<label class="kt-radio">
										<input type="radio" name="radio2"> Deluxe Clean<a data-toggle="kt-popover" title="" data-content="This is the content for a standard clean" data-original-title="Deluxe Clean">	<i class="kt-font-brand flaticon-questions-circular-button"></i></a>
										<span></span>
									</label>
									<label class="kt-radio">
										<input type="radio" name="radio2"> Deep Clean<a data-toggle="kt-popover" title="" data-content="This is the content for a standard clean" data-original-title="Deep Clean">	<i class="kt-font-brand flaticon-questions-circular-button"></i></a>
										<span></span>
									</label>
								</div>
								<span class="form-text text-muted">Get more details by clicking on the <em>i</em> icon beside package type</span>
							</div>
							<div class="form-group form-group-marginless">
								<label>Extra Tasks:</label>
								<div class="row">
									<div class="col-lg-4">
										<label class="kt-option">
											<span class="kt-option__control">
												<span class="kt-radio kt-radio--check-bold">
													<input type="radio" name="m_option_1" value="1" checked="">
													<span></span>
												</span>
											</span>
											<span class="kt-option__label">
												<span class="kt-option__head">
													<span class="kt-option__title">
														Laundry<br>  (Washer + Dryer)
													</span>
												</span>
											</span>
										</label>
									</div>
									<div class="col-lg-4">
										<label class="kt-option">
											<span class="kt-option__control">
												<span class="kt-radio kt-radio--check-bold">
													<input type="radio" name="m_option_2" value="1">
													<span></span>
												</span>
											</span>
											<span class="kt-option__label">
												<span class="kt-option__head">
													<span class="kt-option__title">
														Inside <br> Fridge
													</span>
												</span>
											</span>
										</label>
									</div>
									<div class="col-lg-4">
										<label class="kt-option">
											<span class="kt-option__control">
												<span class="kt-radio kt-radio--check-bold">
													<input type="radio" name="m_option_3" value="1">
													<span></span>
												</span>
											</span>
											<span class="kt-option__label">
												<span class="kt-option__head">
													<span class="kt-option__title">
														Inside <br> Oven
													</span>
												</span>
											</span>
										</label>
									</div>
									<div class="col-lg-4">
										<label class="kt-option">
											<span class="kt-option__control">
												<span class="kt-radio kt-radio--check-bold">
													<input type="radio" name="m_option_4" value="1">
													<span></span>
												</span>
											</span>
											<span class="kt-option__label">
												<span class="kt-option__head">
													<span class="kt-option__title">
														Inside <br> Kitchen Cabinets
													</span>
												</span>
											</span>
										</label>
									</div>
									<div class="col-lg-4">
										<label class="kt-option">
											<span class="kt-option__control">
												<span class="kt-radio kt-radio--check-bold">
													<input type="radio" name="m_option_5" value="1">
													<span></span>
												</span>
											</span>
											<span class="kt-option__label">
												<span class="kt-option__head">
													<span class="kt-option__title">
														Inside <br> Bathroom Cabinets
													</span>
												</span>
											</span>
										</label>
									</div>

									<div class="col-lg-4">
										<label class="kt-option">
											<span class="kt-option__control">
												<span class="kt-radio kt-radio--check-bold">
													<input type="radio" name="m_option_6" value="1">
													<span></span>
												</span>
											</span>
											<span class="kt-option__label">
												<span class="kt-option__head">
													<span class="kt-option__title">
														Interior <br> Windows
													</span>
												</span>
											</span>
										</label>
									</div>


							</div>
						</div>
										</div>
									</div>
								</div>

								<!--end: Form Wizard Step 1-->
							<!-- </form> -->
								<!--begin: Form Wizard Step 2-->
								<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
									<div class="kt-heading kt-heading--md">Your Address</div>
									<div class="kt-form__section kt-form__section--first">
										<div class="kt-wizard-v4__form">
											<div class="row">
												<div class="col-xl-6">
													<div class="form-group">
														<label>Your Address</label>
														<input type="text" class="form-control" id="address" formControlName="address" name="address" placeholder="123 Yonge St" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['address'].errors }">
														<div *ngIf="submitted && registerForm.controls['address'].hasError('required')" class="error-message">Your Address is required</div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>Unit Number</label>
														<input type="text" class="form-control" name="unit" placeholder="Unit 1210" formControlName="unit" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['unit'].errors }">
														<div *ngIf="submitted && registerForm.controls['unit'].hasError('required')" class="error-message">Unit Number is required</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xl-6">
													<div class="form-group">
														<label>City</label>
														<input type="text" class="form-control" name="city" placeholder="Toronto" formControlName="city" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['city'].errors }">
														<div *ngIf="submitted && registerForm.controls['city'].hasError('required')" class="error-message">City is required</div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>Postal Code</label>
														<input type="text" class="form-control" name="postal_code" placeholder="M4B 1B5" formControlName="postal_code" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['postal_code'].errors }">
														<div *ngIf="submitted && registerForm.controls['postal_code'].hasError('required')" class="error-message">City is required</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xl-6">
													<div class="form-group">
														<label>Full Name</label>
														<input type="text" class="form-control" name="full_name" placeholder="Mike Jones" formControlName="full_name" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['full_name'].errors }">
														<div *ngIf="submitted && registerForm.controls['full_name'].hasError('required')" class="error-message">Full Name is required</div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>Email Address</label>
														<input type="text" class="form-control" name="email" placeholder="mike.jones@gmail.com" formControlName="email" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['email'].errors }">
														<div *ngIf="submitted && registerForm.controls['email'].hasError('required')" class="error-message">Email Address is required</div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>Phone Number</label>
														<input type="text" class="form-control" name="phone" placeholder="416-123-4567" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['phone'].errors }">
														<div *ngIf="submitted && registerForm.controls['alt_phone'].hasError('required')" class="error-message">Phone Number is required</div>
													</div>
												</div>
												<div class="col-xl-6">
													<div class="form-group">
														<label>Alternative Phone Number</label>
														<input type="text" class="form-control" name="alt_phone" formControlName="alt_phone" placeholder="647-987-6543">
													</div>
												</div>
												<div class="col-xl-12">
													<div class="form-group">
														<label>Coupon Code:</label>
														<input type="text" class="form-control" name="coupon" formControlName="coupon" placeholder="If Applicable">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--end: Form Wizard Step 2-->

								<!--begin: Form Wizard Step 3-->
								<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
									<div class="kt-heading kt-heading--md">Select A Date & Time</div>
									<div class="kt-form__section kt-form__section--first">
										<div class="kt-wizard-v4__form">
											<div class="row">
												<div class id="kt_datepicker_6"></div>
												<div class="black-bg-width">
													<h4 class="time-available">
														 Times Available
													  </h4>
														<hr style="border-top: 2px solid #00d95a; width: 25%;">
														<p class="lead time-avail-text">
															06/04/2019
														</p>
														<hr style="border-top: 4px solid grey; width: 95%; margin-bottom: 5px;">
															<button class="time-btn"> 9:00AM </button>
															<button class="time-btn"> 11:00AM </button>
															<button class="time-btn"> 12:00AM </button>
															<button class="time-btn"> 1:00PM </button>
															<button class="time-btn"> 2:00PM </button>
															<button class="time-btn"> 3:00PM </button>
															<button class="time-btn"> 4:00PM </button>
															<button class="time-btn"> 5:00PM </button>
															<button class="time-btn"> 6:00PM </button>
													</div>
											</div>
											<div class="form-group" style="margin-top: 25px;">
																	<label>Entry Instructions</label>
																	<div class="kt-radio-inline">
																		<label class="kt-radio">
																			<input type="radio" name="radio2"> I will be Home
																			<span></span>
																		</label>
																		<label class="kt-radio">
																			<input type="radio" name="radio2"> Conierge
																			<span></span>
																		</label>
																		<label class="kt-radio">
																			<input type="radio" name="radio2"> Other Instructions
																			<span></span>
																		</label>
																	</div>
																</div>
																<div class="form-group form-group-last">
																													<label for="exampleTextarea">Entry Notes & Further Details</label>
																													<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
																												</div>

										</div>
									</div>
								</div>

								<!--end: Form Wizard Step 3-->

								<!--begin: Form Wizard Step 4-->
								<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
									<div class="kt-heading kt-heading--md">Review your Details and Submit</div>
									<div class="kt-form__section kt-form__section--first">
										<div class="kt-wizard-v4__review">
											<div class="kt-wizard-v4__review-item">
												<div class="kt-wizard-v4__review-title">
													Your Account Details
												</div>
												<div class="kt-wizard-v4__review-content">
													John Wick<br />
													Phone: +61412345678<br />
													Email: johnwick@reeves.com
												</div>
											</div>
											<div class="kt-wizard-v4__review-item">
												<div class="kt-wizard-v4__review-title">
													Your Address Details
												</div>
												<div class="kt-wizard-v4__review-content">
													Address Line 1<br />
													Address Line 2<br />
													Melbourne 3000, VIC, Australia
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
									<div class="kt-heading kt-heading--md">Payment <span style="font-size: 60%; margin-left: 15px;"> Visa, Mastercard, Amex</span></div>
									<div class="kt-form__section kt-form__section--first">
										<div class="kt-wizard-v4__form">

											 <div class="row">
												 <div class="col-xl-6">
												<div class="form-group">
													<label>Name on Card</label>
													<input type="text" class="form-control" name="ccname" placeholder="Card Name" value="Mike Jones">
													<span class="form-text text-muted">Please enter your Card Name.</span>
												</div>
											</div>
											<div class="col-xl-6">
												<div class="form-group">
													<label>Card Number</label>
													<input type="text" class="form-control" name="ccnumber" placeholder="Card Number" value="4444 3333 2222 1111" aria-describedby="ccnumber-error" aria-invalid="false">
													<span class="form-text text-muted">Please enter your Card Number.</span>
												</div>
											</div>
												<div class="col-xl-4">
													<div class="form-group">
														<label>Card Expiry Month</label>
														<input type="number" class="form-control" name="ccmonth" placeholder="Card Expiry Month" value="01">
														<span class="form-text text-muted">Please enter your Card Expiry Month.</span>
													</div>
												</div>
												<div class="col-xl-4">
													<div class="form-group">
														<label>Card Expiry Year</label>
														<input type="number" class="form-control" name="ccyear" placeholder="Card Expire Year" value="21">
														<span class="form-text text-muted">Please enter your Card Expiry Year.</span>
													</div>
												</div>
												<div class="col-xl-4">
													<div class="form-group">
														<label>Card CVV Number</label>
														<input type="password" class="form-control" name="cccvv" placeholder="Card CVV Number" value="123">
														<span class="form-text text-muted">Please enter your Card CVV Number.</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								<!--end: Form Wizard Step 4-->

								<!--begin: Form Actions -->
								<div class="kt-form__actions">
									<div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
										Previous
									</div>
									<div (click)="onSubmit()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
										Submit
									</div>
									<div (click)="onCheck()" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
										Next Step
									</div>
								</div>
								<!--end: Form Actions -->
							</form>
							<!--end: Form Wizard Form-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
