<div class="kt-section">
	<div class="row row-full-height">
		<div class="kt-portlet">
													<div class="kt-portlet__head">
														<div>
															<p class="head-left">
																 <span class="small-font">  </span>
															</p>
														</div>
														<div class="kt-portlet__head-label">
															<div class="row">
																<div class="col-md-6">
																	<h3 class="kt-portlet__head-title">
			
																	</h3>
																</div>
																<div class="col-md-6">
			
																</div>
															</div>
														</div>
													</div>
			
													<!--begin::Form-->
													<form class="kt-form">
														<div class="kt-portlet__body">
															<div class="form-group form-group-last">
															</div>
															<div class="row" style="display: contents;">
			
																<div class="col-md-12">
																	<div class="row">
																		<div class="col-md-7">
																		</div>
																		<div class="col-md-3" style="margin-left: 1.75%;">
																			<div class="input-group date">
																				<input type="text" class="form-control" placeholder="Select Date" id="kt_datepicker_4_2">
																				<div class="input-group-append">
																					<span class="input-group-text">
																						<i class="la la-clock-o"></i>
																					</span>
																				</div>
																			</div>
																			<div class="input-group" id="kt_daterangepicker_2" style="margin-top: 10px;">
																<input type="text" class="form-control" readonly="" placeholder="Select date range">
																<div class="input-group-append">
																	<span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
																</div>
															</div>
																		</div>
																	</div>
																	<div class="row" style="margin-top: 25px;">
																		<div class="col-lg-1">
																		</div>
																	<div class="col-lg-5">
																		<div class="form-group ">
																			<label for="recipient-name" class="form-control-label">Day Shift Information:</label>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Date</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="July 22, 2019" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Shift</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="Day" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Attendant</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="Sunny" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
			
																		</div>
																		<div class="form-group">
																			<label for="recipient-name" class="form-control-label">Overview:</label>
																			<div class="dispenser-box">
																				Price #1
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Price</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="$0.499" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Auto Dispenser 1</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="8,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Auto Dispenser 2</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="18,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Tank Dispenser</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="5,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																		</div>
																		<div class="form-group">
																			<label for="recipient-name" class="form-control-label">Overview:</label>
																			<div class="dispenser-box">
																				Price #2
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Time of Change</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="2:34 PM" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Price</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="$0.519" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Auto Dispenser 1</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="2,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Auto Dispenser 2</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="3,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Tank Dispenser</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="7,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-5">
																		<div class="form-group ">
																			<label for="recipient-name" class="form-control-label">Night Shift Information:</label>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Date</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="July 22, 2019" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Shift</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="Day" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift" id="basic-addon1">Attendant</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="Sunny" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
			
																		</div>
																		<div class="form-group">
																			<label for="recipient-name" class="form-control-label">Overview:</label>
																			<div class="dispenser-box">
																				Price #1
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Price</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="$0.499" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Auto Dispenser 1</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="8,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Auto Dispenser 2</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="18,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Tank Dispenser</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="5,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																		</div>
																		<div class="form-group">
																			<label for="recipient-name" class="form-control-label">Overview:</label>
																			<div class="dispenser-box">
																				Price #2
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Time of Change</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="2:34 PM" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Price</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="$0.519" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Auto Dispenser 1</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="2,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Auto Dispenser 2</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="3,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																			<div class="input-group">
																				<div class="input-group-prepend "><span class="input-group-text left-addon-shift-2" id="basic-addon1">Tank Dispenser</span></div>
																				<input type="text" class="form-control left-addon-input" placeholder="7,098 Litres" disabled="disabled" aria-describedby="basic-addon1">
																			</div>
																		</div>
																	</div>
																</div>
																</div>
			
															</div>
			
														</div>
														<div class="kt-portlet__foot">
															<div class="kt-form__actions">
																<!-- <button type="reset" class="btn btn-primary" ahref="#">Submit</button> -->
																<!-- <a class="btn btn-primary" href="demo4/invoice1.html"> Submit </a>
																<button type="reset" class="btn btn-secondary">Cancel</button> -->
															</div>
														</div>
													</form>
			
													<!--end::Form-->
		</div>
	</div>
</div>