
		<!-- begin:: Footer -->
		<div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer" style="background-image: url('./assets/media/bg/bg-2.jpg');">
			<div class="kt-footer__top">
				<div class="kt-container">
					<div class="row">
						<div class="col-lg-6">
							<div class="kt-footer__section">
								<h3 class="kt-footer__title">Veer Preet Propane Systems</h3>
								<div class="kt-footer__content">
									Located next to Pearson Airport, we are the Taxi & Limousine industry’s first choice for 24 hour car repair in Mississauga and Brampton. We’re open whenever you need service.
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="kt-footer__section">
								<h3 class="kt-footer__title">Quick Links</h3>
								<div class="kt-footer__content">
									<div class="kt-footer__nav">
										<div class="kt-footer__nav-section">
											<a routerLink="/dashboard">Dashboard</a>
											<a routerLink="/manage_loyalty">Past Orders</a>
											<a routerLink="/manage_loyalty">Manage Customers</a>
										</div>
										<div class="kt-footer__nav-section">
											<a routerLink="/manage_corporate">Manage Corporate</a>
											<a routerLink="/price_change">Manage Propane Price</a>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="kt-footer__bottom">
				<div class="kt-container">
					<div class="kt-footer__wrapper">
						<div class="kt-footer__logo">
							<a class="kt-header__brand-logo" href="">
								<img alt="Logo" src="./assets/media/vp/logo_icon.png" class="kt-header__brand-logo-sticky" style="height: 50px;">
							</a>
							<div class="kt-footer__copyright">
								2019&nbsp;&copy;&nbsp; Veer Preet Service Centre Inc.
								<a href="https://liftedsolutions.com" target="_blank">Developed by Lifted Solutions</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- end:: Footer -->
