h3{
	margin: 15px 50px;
}

h4{
	margin: 20px 0px;
}

label{
	display: flex;
	font-weight: bold;
	font-size: 1rem;
}

.col-lg-4, .col-lg-7{
	border: 1px solid lightskyblue;
}

.col-lg-7 ul{
	margin-top: 10px;
}

//******************start Modal Css****************//
.modal-title{
	margin: 0px;
}

.modal-body{
	padding: 10px 35px;
	color: #464444;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

.sender_id{
	width: 88%;
}

.modal-footer{
	justify-content: center;
}

.col-form-label{
	font-size: 1.2rem!important;
}

.modal-content{
	width: 115%!important;
}
