<div ngbDropdown placement="bottom-right" *ngIf="user$ | async as _user" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<span class="kt-header__topbar-welcome">Hi,</span>
		<span class="kt-header__topbar-username">{{userData.user.first_name}}</span>
		<span class="kt-header__topbar-icon"><b>{{userData.user.first_name|firstLetter}}</b></span>
	</div>

	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
		<!--begin: Head -->
		<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(./assets/media/misc/bg-1.jpg)">
			<div class="kt-user-card__avatar">
				<img alt="Pic" src="./assets/media/users/user.png"/>
				<span [hidden]="true" class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
					{{userData.user.first_name|firstLetter}}
				</span>
			</div>
			<div class="kt-user-card__name">
				{{userData.user.first_name}} {{userData.user.last_name}} <br>
				{{userData.user.email}}
			</div>
			<!-- <div class="kt-user-card__badge">
				<span class="btn btn-success btn-sm btn-bold btn-font-md">{{userData.user.email}}</span>
			</div> -->
		</div>
		<!--end: Head -->
		<!--begin: Navigation(alternative) -->
		<ul class="kt-nav kt-margin-b-10 kt-hidden">
			<li class="kt-nav__item">

					<span class="kt-nav__link-text">My Profile</span>

			</li>
			<li class="kt-nav__item">

					<span class="kt-nav__link-text">My Tasks</span>

			</li>
			<li class="kt-nav__item">

					<span class="kt-nav__link-text">Messages</span>

			</li>
			<li class="kt-nav__item">

					<span class="kt-nav__link-text">Settings</span>

			</li>
			<li class="kt-nav__item kt-nav__item--custom kt-margin-t-15">
				<a (click)="logout()" class="btn btn-label-brand btn-sm btn-bold">Sign Out</a>
			</li>
		</ul>

		<!--begin: Navigation -->
		<div class="kt-notification">
			<a href="/tools" class="kt-notification__item">
				Tools
			</a>
			<a href="/billing" class="kt-notification__item">
				Billing
			</a>
			<div class="kt-notification__custom">
				<a href="javascript:;" (click)="logout()" class="btn btn-label-brand btn-sm btn-bold">Sign Out</a>
			</div>
		</div>
		<!--end: Navigation -->


		<!--end: Navigation(alternative) -->
	</div>
</div>


<!-- <a (click)="logout()" class="btn btn-label-brand btn-sm btn-bold">Sign Out</a> -->
