<!-- <div class="row"> -->


<kt-material-preview [viewItem]="exampleBasic">
	<div class="kt-section">
		<p class="kt-section__sub">
			<code>&lt;mat-paginator&gt;</code> provides navigation for paged information, typically used with a table.
		</p>
		<div class="kt-separator kt-separator--dashed"></div>
		<div class="kt-section__content">

			<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
			</mat-paginator>

		</div>
	</div>
</kt-material-preview>

<kt-material-preview [viewItem]="exampleConfig">
	<div class="kt-section">
		<div class="kt-section__content">

			<mat-form-field>
				List length:
				<input matInput [(ngModel)]="length">
			</mat-form-field>

			<mat-form-field>
				Page size:
				<input matInput [(ngModel)]="pageSize">
			</mat-form-field>
			<mat-form-field>
				Page size options:
				<input matInput [ngModel]="pageSizeOptions" (ngModelChange)="setPageSizeOptions($event)">
			</mat-form-field>

			<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
			</mat-paginator>

			<div *ngIf="pageEvent">
				<h5>Page Change Event Properties</h5>
				<div>List length: {{pageEvent.length}}</div>
				<div>Page size: {{pageEvent.pageSize}}</div>
				<div>Page index: {{pageEvent.pageIndex}}</div>
			</div>

		</div>
	</div>
</kt-material-preview>
<!-- </div> -->