<div class="kt-portlet kt-portlet--height-fluid">
		<div class="row" style="display: contents;">
			<h3 align="center">
				Developer Details
			</h3>
		</div>
			<mat-divider></mat-divider>
			<div class="kt-portlet__body" align="center">
				<div class="form-group row">
					<label class="col-x1-3 col-lg-5 col-form-label" >Developer Name:</label>
					<div class="col-lg-7 col-xl-6">
						<input type="text" class="form-control" placeholder="Enter Developer Name" >
					</div>
				</div>
				<div class="form-group row">
					<label class="col-x1-3 col-lg-5 col-form-label" >Developer Email:</label>
					<div class="col-lg-7 col-xl-6">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<mat-icon style="height: 19px;">email</mat-icon>
								</span>
							</div>
							<input type="text" class="form-control" placeholder="Enter Developer Email" >
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-x1-3 col-lg-5 col-form-label" >Developer Telephone Number:</label>
					<div class="col-lg-7 col-xl-6">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<mat-icon style="height: 19px;">call</mat-icon>
								</span>
							</div>
							<input type="text" class="form-control" placeholder="Enter Developer Telephone No" >
						</div>
					</div>
				</div>
					<a class="btn btn-info" href="#" style="width: 10%; margin-left: 60%; margin-top: 5px; margin-bottom: 10px;"> SUBMIT</a>
			</div>
	</div>
