<kt-portlet>
	<kt-portlet-body>

		<!--begin: Wizard -->
		<div #wizard class="kt-grid kt-wizard-v3 kt-wizard-v3--white" id="kt_wizard_v3" data-ktwizard-state="step-first">
			<div class="kt-grid__item">
				<!--begin: Form Wizard Nav -->
				<div class="kt-wizard-v3__nav">
					<div class="kt-wizard-v3__nav-items">
						<a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step" data-ktwizard-state="current">
							<div class="kt-wizard-v3__nav-body">
								<div class="kt-wizard-v3__nav-label">
									<span>1</span> Setup Location
								</div>
								<div class="kt-wizard-v3__nav-bar"></div>
							</div>
						</a>
						<a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v3__nav-body">
								<div class="kt-wizard-v3__nav-label">
									<span>2</span> Enter Details
								</div>
								<div class="kt-wizard-v3__nav-bar"></div>
							</div>
						</a>
						<a class="kt-wizard-v3__nav-item" href="javascript:;" data-ktwizard-type="step">
							<div class="kt-wizard-v3__nav-body">
								<div class="kt-wizard-v3__nav-label">
									<span>5</span> Review and Submit
								</div>
								<div class="kt-wizard-v3__nav-bar"></div>
							</div>
						</a>
					</div>
				</div>
				<!--end: Form Wizard Nav -->
			</div>
			<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">
				<!--begin: Form Wizard Form-->
				<form class="kt-form form-group-marginless" id="kt_form">
					<!--begin: Form Wizard Step 1-->
					<div class="kt-wizard-v3__content form-group-marginless" data-ktwizard-type="step-content" data-ktwizard-state="current">
						<div class="kt-heading kt-heading--md">Enter the Details of your Auto Propane Refill</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v3__form">
										<div class="row" style="margin-bottom: 15px;">

											<div class="col-lg-4">
												<label class="kt-option" (click)="onRadioClickGeneral()">
													<span class="kt-option__label">
														<i class="fa fa-money-bill" style="font-size: 50px; margin-bottom: 10px;"></i>
														<span class="kt-option__head">
															<span class="kt-option__title">
																GENERAL
															</span>
														</span>
														<span class="kt-option__control">
															<span class="kt-radio kt-radio--bold kt-radio--brand">
																<input type="radio" name="customer_type" value="GeneralProgram" checked="checked">
																<span></span>
															</span>
														</span>
													</span>
												</label>
											</div>
											<div class="col-lg-4">
												<label class="kt-option" (click)="onRadioClickLoyalty()">
													<span class="kt-option__label">
														<i class="fa fa-gift" style="font-size: 50px; margin-bottom: 10px;"></i>
														<span class="kt-option__head">
															<span class="kt-option__title ">
																LOYALTY
															</span>
														</span>
														<span class="kt-option__control">
															<span class="kt-radio kt-radio--bold kt-radio--brand">
																<input type="radio" name="customer_type" value="LoyaltyProgram">
																<span></span>
															</span>
														</span>
													</span>
												</label>
											</div>
											<div class="col-lg-4">
												<label class="kt-option" (click)="onRadioClickCorporate()">
													<span class="kt-option__label">
														<i class="fa fa-city" style="font-size: 50px; margin-bottom: 10px;"></i>
														<span class="kt-option__head">
															<span class="kt-option__title">
																CORPORATE
															</span>
														</span>
														<span class="kt-option__control">
															<span class="kt-radio kt-radio--bold kt-radio--brand">
																<input type="radio" name="customer_type" value="CorporateProgram">
																<span></span>
															</span>
														</span>
													</span>
												</label>

											</div>
										</div>
										<div class="row" style="margin-bottom: 15px;">
												<div class="col-xl-2 col-md-2">
												</div>
												<div class="col-xl-8 col-md-8" *ngIf="loyaltyCustomerSelected">
														<div class="input-group">
															<input class="form-control" type="text" placeholder="Scan Loyalty Number/Phone Number/Full Name" name="fullname"><div class="btn btn-brand btn-md  btn-wide kt-font-bold kt-font-transform-u" >
																SEARCH
															</div>
															<table class="table  table-grey-box table-hover table-checkable" id="kt_table_1" style="margin-top: 25px;">
																<thead>

																	<tr>
																		<th>Full Name</th>
																		<th>Car Year</th>
																		<th>Car Make</th>
																		<th>Car Model</th>
																		<th>License Plate</th>
																		<th>Select </th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>Anshul Sharma</td>
																		<td>2007</td>
																		<td>Acura</td>
																		<td>TSX</td>
																		<td>BYX1 111 </td>
																		<td> <div class="btn btn-brand btn-sm kt-font-bold kt-font-transform-u" >
																			Select
																		</div> </td>
																	</tr>
																	<tr>
																		<td>Anshul Vaid</td>
																		<td>2012</td>
																		<td>Honda</td>
																		<td>Civic</td>
																		<td>HE24 L1V</td>
																		<td> <div class="btn btn-brand btn-sm kt-font-bold kt-font-transform-u">
																			Select
																		</div> </td>
																	</tr>
																</tbody>
															</table>
															<table class="table  table-grey-box table-hover table-checkable" id="kt_table_1" style="margin-top: 25px;">
																<thead>

																	<tr>
																		<th>Full Name</th>
																		<th>Car Year</th>
																		<th>Car Make</th>
																		<th>Car Model</th>
																		<th>License Plate</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>Anshul Sharma</td>
																		<td>2007</td>
																		<td>Acura</td>
																		<td>TSX</td>
																		<td>BYX1 111 </td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div align="right" style="padding-bottom: 15px;">
														<div class="btn btn-brand btn-md  btn-wide kt-font-bold kt-font-transform-u" >
															Confirm
														</div>
														<div class="btn btn-danger btn-md  btn-wide kt-font-bold kt-font-transform-u" >
															Delete
														</div>
													</div>
												</div>
												<div class="col-md-8" *ngIf="corporateCustomerSelected">
														<input class="form-control" type="text" placeholder="Company Name/License Plate/Fleet Tag Number" name="fullname"><div class="btn btn-brand btn-md  btn-wide kt-font-bold kt-font-transform-u" >
																SEARCH
														</div>
														<table class="table  table-grey-box table-hover table-checkable" id="kt_table_1" style="margin-top: 25px;">
															<thead>

																<tr>
																	<th>Company Name</th>
																	<th>Car Year</th>
																	<th>Car Make</th>
																	<th>Car Model</th>
																	<th>License Plate</th>
																	<th>Select </th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Veer Preet Fleet</td>
																	<td>2007</td>
																	<td>Acura</td>
																	<td>TSX</td>
																	<td>BYX1 111 </td>
																	<td> <div class="btn btn-brand btn-sm kt-font-bold kt-font-transform-u" >
																		Select
																	</div> </td>
																</tr>
																<tr>
																	<td>Veer Preet Fleet</td>
																	<td>2010</td>
																	<td>Acura</td>
																	<td>RSX</td>
																	<td>BYX1 123 </td>
																	<td> <div class="btn btn-brand btn-sm kt-font-bold kt-font-transform-u" >
																		Select
																	</div> </td>
																</tr>
																<tr>
																	<td>Veer Preet Fleet</td>
																	<td>2015</td>
																	<td>Porsche</td>
																	<td>Panamera</td>
																	<td>BYX1 199 </td>
																	<td> <div class="btn btn-brand btn-sm kt-font-bold kt-font-transform-u" >
																		Select
																	</div> </td>
																</tr>
																<tr>
																	<td>Veer Preet Delivery </td>
																	<td>2012</td>
																	<td>Honda</td>
																	<td>Civic</td>
																	<td>HE24 L1V</td>
																	<td> <div class="btn btn-brand btn-sm kt-font-bold kt-font-transform-u" >
																		Select
																	</div> </td>
																</tr>
															</tbody>
														</table>
														<table class="table  table-grey-box table-hover table-checkable" id="kt_table_1">
															<thead>

																<tr>
																	<th>Company Name</th>
																	<th>Car Year</th>
																	<th>Car Make</th>
																	<th>Car Model</th>
																	<th>License Plate </th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Veer Preet Fleet</td>
																	<td>2012</td>
																	<td>Lincoln</td>
																	<td>Navigator</td>
																	<td>BYX1 111 </td>
																</tr>
															</tbody>
														</table>
														<div align="right" style="padding-bottom: 15px;">
														<div class="btn btn-brand btn-md  btn-wide kt-font-bold kt-font-transform-u">
															Confirm
														</div>
														<div class="btn btn-danger btn-md  btn-wide kt-font-bold kt-font-transform-u">
															Delete
														</div>
													</div>
												</div>
										</div>
										<div class="row" style="margin-bottom: 15px;">

												<div class="col-lg-4">
													<label class="kt-option" style="display: block;" (click)="onRadioClickEnableAutoPropane()">

														<span class="kt-option__label">
															<i class="fa fa-fill-drip" style="font-size: 25px; margin-bottom: 10px;"></i>
															<span class="kt-option__head">
																<span class="kt-option__title" style="margin-left: 20%; margin-right: 20%;">
																	AUTO PROPANE
																</span>
															</span>
															<span class="kt-option__control">
																<span class="kt-radio kt-radio--bold kt-radio--brand">
																	<input type="radio" name="item_type" value="TankRefill" checked="checked">
																	<span></span>
																</span>
															</span>
														</span>
													</label>
												</div>
												<div class="col-lg-4">
													<label class="kt-option" style="display: block;" (click)="onRadioClickEnableRefillPropane()">

														<span class="kt-option__label">
															<i class="fa fa-exchange-alt" style="font-size: 25px; margin-bottom: 10px;"></i>

															<span class="kt-option__head">
																<span class="kt-option__title" style="margin-left: 12.5%; margin-right: 12.5%;">
																	PROPANE TANK REFILL
																</span>
															</span>
															<span class="kt-option__control">
																<span class="kt-radio kt-radio--bold kt-radio--brand">
																	<input type="radio" name="item_type" value="TankExchangeProgram">
																	<span></span>
																</span>
															</span>
														</span>
													</label>
												</div>
												<div class="col-lg-4">
													<label class="kt-option" style="display: block;" (click)="onRadioClickEnableExchangePropane()">
														<span class="kt-option__label">
															<i class="fa fa-tags" style="font-size: 25px; margin-bottom: 10px;"></i>
															<span class="kt-option__head">
																<span class="kt-option__title" style="margin-left: 10%; margin-right: 10%;">
																	TANK EXCHANGE/NEW
																</span>
															</span>
															<span class="kt-option__control">
																<span class="kt-radio kt-radio--bold kt-radio--brand">
																	<input type="radio" name="item_type" value="NewPropaneTank">
																	<span></span>
																</span>
															</span>
														</span>
													</label>
												</div>
										</div>
										<div class="row">

												<!-- Auto Propane -->
												<div class="col-xl-6" style="padding-left: 25px;" *ngIf="autoPropaneSection">
													<div class="form-group">
														<label>Enter Dollar Amount</label>
														<div style="display: flex;">
															<input type="text" #dollarAmountForPropane class="form-control" name="dollarAmountForPropane" placeholder="$XX.XX" value="" style="width: 80%; margin-right: 10px;">
															<button type="button"  (click)='performLiterCount(dollarAmountForPropane.value)' class="btn btn-bold btn-label-primary btn-md btn-wide" style="padding: 1em !important; width: 140px;">&nbsp;&nbsp;&nbsp;APPLY &nbsp;&nbsp;&nbsp;</button>
														</div>
														<span class="form-text text-muted">Please enter amount of Propane in Litres.</span>
													</div>
													<div class="form-group">
														<label>Confirm Litres</label>
														<div style="display: flex;">
															<input type="propaneprice" #tempNoOfLitersCalc class="form-control" [value]="tempNoOfLiters" id="confirm_liters" name="confirm_liters" disabled="disabled" placeholder="80.404 L" style="width: 80%; margin-right: 10px;">
															<button type="button" (click)="confirmOnClick()" class="btn btn-bold btn-label-primary btn-md btn-wide" style="width: 140px;">CONFIRM</button>
														</div>
														<span class="form-text text-muted">Today's Propane Price: ${{currentPropanePrice}}</span>
													</div>
													<div class="form-group">
														<p align="center">
															<button type="button" [disabled]="!isAddToOrderActive" class="btn btn-bold btn-label-primary btn-xl btn-wide" (click)="addTankRefilItemToOrder('Auto Propane',tempNoOfLitersCalc.value,currentPropanePrice,dollarAmountForPropane.value)" style="font-size: 20px;">ADD ITEM</button>
														</p>
													</div>
												</div>
												<!-- Refill -->
												
												<div class="col-xl-6" *ngIf="refillPropaneSection">
														<div class="row">
													<div class="col-xl-4">
														<div class="form-group flex-box" style="display: -webkit-box;">
															<div class="border-3" style="width: 100%;"  (click)="addTankRefilItemToOrder('Propane Tank Refill 20 - 38LB','1','15','15')">
																<i class="fa fa-fill-drip" style="font-size: 25px; "></i>
																<br>
																<span class="kt-option__title2">
																	TANK REFILL </span><br>
																	<strong><span style="font-size: 80%;"> 20 - 38LB </span> </strong><br>
																	<strong> $15</strong>

																</div>
															</div>
															<div class="form-group flex-box mt-30" style="display: -webkit-box;" (click)="addTankRefilItemToOrder('Propane Tank Refill 40 - 70LB','1','35','35')">
																<div class="border-3" style="width: 100%;">
																	<i class="fa fa-fill-drip" style="font-size: 25px; "></i>
																	<br>
																	<span class="kt-option__title2">
																		TANK REFILL </span><br>
																		<strong><span style="font-size: 80%;"> 40 - 70LB </span> </strong><br>
																		<strong> $35</strong>

																	</div>
															</div>
														</div>
														<div class="col-xl-4">
															<div class="form-group flex-box" style="display: -webkit-box;">
																<div class="border-3" style="width: 100%;" (click)="addTankRefilItemToOrder('Propane Tank Refill 30 - 52LB','1','28','28')">
																	<i class="fa fa-fill-drip" style="font-size: 25px; "></i>
																	<br>
																	<span class="kt-option__title2">
																		TANK REFILL</span> <br>
																		<strong><span style="font-size: 80%;"> 30 - 52LB </span> </strong><br>
																		<strong> $28</strong>

																	</div>
																</div>
																<div class="form-group flex-box mt-30" style="display: -webkit-box;" (click)="addTankRefilItemToOrder('Propane Tank Refill 100 - 170LB','1','70','70')">
																	<div class="border-3" style="width: 100%;">
																		<i class="fa fa-fill-drip" style="font-size: 25px; "></i>
																		<br>
																		<span class="kt-option__title2">
																			TANK </span> <br>
																			<strong><span style="font-size: 80%;"> 100 - 170LB </span> </strong><br>
																			<strong> $70</strong>

																		</div>
																	</div>
															</div>
															<div class="col-xl-4">
																<div class="form-group flex-box" style="display: -webkit-box;" (click)="addTankRefilItemToOrder('Propane Tank Refill 33 - 60LB','1','30','30')">
																	<div class="border-3" style="width: 100%;">
																		<i class="fa fa-fill-drip" style="font-size: 25px; "></i>
																		<br>
																		<span class="kt-option__title2">
																			TANK REFILL</span> <br>
																			<strong><span style="font-size: 80%;"> 33 - 60LB </span> </strong><br>
																			<strong> $30</strong>

																		</div>
																	</div>
																</div>
														</div>
												</div>

												<!-- Exchange -->
												<div class="col-xl-6" style="display: flex;"  *ngIf="exchangePropaneSection">
														<div class="col-xl-6">
															<div class="form-group flex-box" (click)="addTankRefilItemToOrder('New Propane Tank 30LB','1','55','55')">
																<div class="border-3" style="width: 100%;">
																	<i class="fa fa-tags" style="font-size: 75px; margin-bottom: 25px !important; margin-top: 25px !important;"></i>
																	<br>
																	<div style="margin-bottom: 50px;">
																		<span class="kt-option__title2" style="margin-bottom: 25px;">
																			NEW  PROPANE <br>TANK
																			<br>
																			<strong>30LB<br>
																			$55</strong>
																		</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-xl-6">
															<div class="form-group flex-box">
																<div class="border-3" style="width: 100%;" (click)="addTankRefilItemToOrder('Used Propane Tank Exchange 30LB','1','45','45')">
																	<i class="fa fa-tags" style="font-size: 75px; margin-bottom: 25px !important; margin-top: 25px !important;"></i>
																	<br>
																	<div style="margin-bottom: 50px;">
																		<span class="kt-option__title2" style="margin-bottom: 25px;">
																			USED PROPANE TANK EXCHANGE
																			<br>
																			<strong>30LB<br>
																			$45</strong>
																		</span>
																	</div>
																</div>
															</div>
														</div>

													</div>

												<div class="col-xl-6" style="padding: 10px;">
													<div style="background: #353535; color: #fff !important; padding: 15px; font-size: 15px; font-weight: 400; width: 100%;"> Order Summary</div>
													<table class="table  table-grey-box table-hover table-checkable" id="kt_table_1">
														<thead>

															<tr>
																<th></th>
																<th>Item</th>
																<th>QTY</th>
																<th>Price </th>
																<th>Total</th>
															</tr>
														</thead>
														<tbody>
															<tr *ngFor="let oredeItem of myOrderItems;">
																<td (click)='removeFromOrderArray(oredeItem.id)'><i class="fa fa-trash" style="font-size: 15px; color:red;"></i></td>
																<td>{{oredeItem.item_name}}</td>
																<td *ngIf="oredeItem.item_name.includes('Auto Propane')">{{oredeItem.item_qty}}</td>
																<td *ngIf="!oredeItem.item_name.includes('Auto Propane')"><div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
																		<input id="kt_touchspin_1" #itemQTY type="text" class="form-control" value="{{oredeItem.item_qty}}" name="demo1" placeholder="Select Quantity" (keyup)="onQtyUpdated(oredeItem.id,itemQTY.value)" style="text-align: center; font-size: 15px; flex: 0.35 1 auto;" aria-invalid="false">
																	</div></td>
																<td>${{oredeItem.item_unit_price}} <span *ngIf="oredeItem.item_name.includes('Auto Propane')" style="font-size: 70%; margin-right: -30px;"> <br>*hst included </span><span *ngIf="oredeItem.item_name.includes('Propane Tank Refill')" style="font-size: 70%; margin-right: -30px;"> <br>+ hst </span></td>
																<td>${{oredeItem.item_price_total}}</td>
															</tr>
															<tr>
																<td colspan="3">&nbsp;</td>
																<td><strong> Sub Total </strong></td>
																<td><strong> ${{orderBillSubTotal}}</strong></td>
															</tr>
															<tr>
																<td colspan="3" style="border-top: none;">&nbsp;</td>
																<td style="border-top: none;"> HST 13%</td>
																<td style="border-top: none;">${{orderBillHST}}</td>
															</tr>
															<tr>
																<td colspan="3">&nbsp;</td>
																<td style="font-size: 15px; border-bottom: none;"> <strong> Total Due</strong></td>
																<td style="font-size: 15px; border-bottom: none;"><strong> ${{orderBilTotal}}</strong></td>
															</tr>
														</tbody>
													</table>
												</div>
										</div>
							</div>
						</div>
					</div>
					<!--end: Form Wizard Step 1-->

					<!--begin: Form Wizard Step 2-->
					<div class="kt-wizard-v3__content form-group-marginless" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md" style="display: grid; text-align: center;">Payment Review</div>
							<div class="row">
								<div class="col-xl-12">
									<div class="row" style="margin-bottom: 15px;">
										<div class="col-lg-2">
										</div>
										<div class="col-lg-4">
											<label class="kt-option" (click)="onCashSelected();">
												<span class="kt-option__label">
													<i class="fa fa-money-bill" style="font-size: 50px; margin-bottom: 10px;"></i>
													<span class="kt-option__head">
														<span class="kt-option__title">
															CASH
														</span>
													</span>
													<span class="kt-option__control">
														<span class="kt-radio kt-radio--bold kt-radio--brand">
															<input type="radio" name="m_option_1" value="Cash" checked="checked">
															<span></span>
														</span>
													</span>
												</span>

										</label>
										</div>
										<div class="col-lg-4">
											<label class="kt-option" (click)="onCreditSelected();">
												<span class="kt-option__label">
													<i class="fa fa-gift" style="font-size: 50px; margin-bottom: 10px;"></i>
													<span class="kt-option__head">
														<span class="kt-option__title ">
															DEBIT/CREDIT/SPLIT
														</span>
													</span>
													<span class="kt-option__control">
														<span class="kt-radio kt-radio--bold kt-radio--brand">
															<input type="radio" name="m_option_1" value="Card">
															<span></span>
														</span>
													</span>
												</span>
											</label>
										</div>	
									</div>
									<div class="row">
										<div class="accordion" id="accordionExample3" style="width: 100%;">
											<div class="card" style="border: none;">
												
												<div id="collapseOne100" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample3">
													<div class="row" style="padding-bottom: 25px;">
														<div class="col-xl-2 col-md-2">
														</div>
														<div class="col-xl-8 col-md-8">
															<div class="form-group">
																<label for="recipient-name" class="form-control-label" style="text-align: center; display: block;">Total Amount:</label>
																<input type="text" class="form-control cash-received" id="recipient-name" disabled="disabled" placeholder="${{orderBilTotal}}" style="width: 70%; margin-left: 15%; border: 1px solid #000; border-radius: 5px;">
															</div>
															<div class="form-group">
																<label for="recipient-name" class="form-control-label" style="text-align: center; display: block;">Cash Received:</label>
																<input type="text" class="form-control cash-received" #cashAmount (keyup)="onCashAmountEntered(cashAmount.value)" id="recipient-name" placeholder="$XX.XX" style="width: 70%; margin-left: 15%; border: 1px solid #000; border-radius: 5px;">
															</div>
															<div class="form-group" *ngIf="creditCardSelected">
																	<label for="recipient-name" class="form-control-label" style="text-align: center; display: block;">Amount on Terminal</label>
																	<div class="input-group" style="width: 70%; margin-left: 15%; border: 1px solid #000; border-radius: 5px;">
																		<input type="text" class="form-control"  placeholder="${{orderBillAmountOnTerminal}}">
																		<div class="input-group-append">
																			<button class="btn btn-primary" type="button">Edit</button>
																		</div>
																	</div>
															</div>
															<div class="form-group">
																<label for="recipient-name" class="form-control-label" style="text-align: center; display: block;">Change Due:</label>

																<input type="text" class="form-control cash-received" disabled="disabled" id="recipient-name"  placeholder="${{orderBillPaymentDue}}" style="width: 70%; margin-left: 15%; border: 1px solid #000; border-radius: 5px;">
															</div>
															<label for="recipient-name" class="form-control-label" style="display: block; text-align: center; ">Invoice:</label>
															<div class="form-group" style="display: flex; ">
																<div class="col-lg-3">
																</div>
																<div class="col-lg-3">
																	<label class="kt-option ">
																		<span class="kt-option__label">
																			<span class="kt-option__head">
																				<span class="kt-option__title">
																					No
																				</span>
																			</span>
																			<span class="kt-option__control">
																				<span class="kt-radio kt-radio--bold kt-radio--brand" style="display: none !important;">
																					<input type="radio" name="m_option_1" value="TankRefill" checked="checked">
																					<span></span>
																				</span>
																			</span>
																		</span>
																	</label>
																</div>
																<div class="col-lg-3">
																	<a href="#" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="" data-original-title="Remember to collect $XX.XX"><label class="kt-option">
																		<span class="kt-option__label">
																			<span class="kt-option__head">
																				<span class="kt-option__title">
																					Yes
																				</span>
																			</span>
																			<span class="kt-option__control">
																				<span class="kt-radio kt-radio--bold kt-radio--brand" style="display: none !important;">
																					<input type="radio" name="m_option_1" value="NewPropaneTank" >
																					<span></span>
																				</span>
																			</span>
																		</span>
																	</label></a>
																</div>
															</div>
															<div class="form-group" *ngIf="!creditCardSelected">
																<p align="center">
																	<strong> Apply Permitted Amount? </strong>
																	<input type="checkbox">
																</p>
															</div>
															<p align="center">
																<button type="button" class="btn btn-bold btn-label-primary btn-outline btn-xl btn-wide" style="font-size: 20px; width: 50%; background: transparent !important; border: 1px solid grey;"> CONFIRM </button>
																<br><strong *ngIf="creditCardSelected"> Please do not forget to input amount in payment terminal </strong>
															</p>
														</div>
													</div>
												</div>
											</div>
											
										</div>
										<hr style="border-top: 3px solid rgba(0, 0, 0, 0.1)">
										<!-- <div class="form-group">
											<label for="message-text" class="form-control-label">Notes/Information:</label>
											<textarea class="form-control" id="message-text" ></textarea>
										</div> -->
										<br>
									</div>
								</div>
							</div>
					</div>	
							<!--end: Form Wizard Step 2-->
					<!--begin: Form Wizard Step 5-->
					<div class="kt-wizard-v3__content form-group-marginless" data-ktwizard-type="step-content">
						<div class="kt-heading kt-heading--md" style="text-align: center;">Loyalty Signup + Finish</div>
						<div class="kt-form__section kt-form__section--first">
							<div class="kt-wizard-v3__review">
								<div class="kt-wizard-v3__review-item">
									<div class="kt-wizard-v3__review-title">

									</div>
									<div class="kt-wizard-v3__review-content">
										<p class="lead" style="text-align: center;">
											<strong> Each Litre Collects 2 points </strong><br>
											500 points equal $5 off <br>
											1000 points equal $12.5 off <br>
											3000 points equal $30 off
										</p>
										<p align="center">
											<button type="button" class="btn btn-bold btn-label-primary btn-md btn-wide" (click)="openLarge(content6)">ENROLL LOYALTY CUSTOMER</button>
										</p>
										<kt-material-preview [viewItem]="exampleComponentsAsContent">
											<div class="kt-section">
												<div class="kt-section__sub">
													<p>You can pass an existing component as content of the modal window. In this case remember to add content component as an
														<code>entryComponents</code> section of your
														<code>NgModule</code>.
													</p>
												</div>
												
											</div>
										</kt-material-preview>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--end: Form Wizard Step 5-->

					<!--begin: Form Actions -->
					<div class="kt-form__actions">
						<div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
							Previous
						</div>
						<div (click)="onSubmit()" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
							Submit
						</div>
						<div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
							Next Step
						</div>
					</div>
					<!--end: Form Actions -->
				</form>
				<!--end: Form Wizard Form-->
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>


<!-- <kt-material-preview [viewItem]="exampleLargeModal">
	<div class="kt-section">
		<div class="kt-section__content"> -->
			<ng-template #content6 let-c="close" let-d="dismiss">
				<div class="modal-header">
					<h4 class="modal-title">Modal title</h4>
					<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">Full Name:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">Vehicle Year:</label>
							<select class="form-control" name="car-years" id="car-years"></select>
						</div>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">Vehicle Make:</label>
							<select class="form-control" name="car-makes" id="car-makes"></select>
						</div>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">Vehicle Model:</label>
							<select class="form-control" name="car-models" id="car-models"></select>
						</div>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">VIN Number:</label>
							<input type="text" class="form-control"  id="recipient-name">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">License Plate:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">Phone Number:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">Email:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">Birthday:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">SCAN QR CODE:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="message-text" class="form-control-label">Notes/Information:</label>
							<textarea class="form-control" id="message-text"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</ng-template>
			<!-- <button class="btn btn-success" (click)="openLarge(content6)">Launch demo modal</button> -->
		<!-- </div>
	</div>
</kt-material-preview> -->