.row{
	margin: 40px!important;
}

.h3{
	margin-top:25px!important;
}

.mat-card{
	margin: 10px 200px 42px;
	border: 0.5px solid #dfdbdb;
	height: 200px;
	font-size: 1rem;
}

.col-lg-6 p{
	font-size: 1.4rem;
}

.contact{
	height: 120px!important;
}



