<div class="kt-portlet kt-portlet--height-fluid">
		<div class="row" style="display: contents;">
			<h3 align="center" style="margin-top:25px!important;">
				Incoming SMS
			</h3>
		</div>

			<div class="kt-portlet__body" align="center">
				<mat-card>
					<div class="row">
						<div class="col-lg-6">

						</div>
						<div class="col-lg-6" align="left">
							<p>Purchase the number or bring your own number</p>
							<button mat-flat-button color="primary">I need a Number</button>&nbsp;
							<button mat-flat-button color="primary">I have a Number</button>
						</div>
					</div>
				</mat-card>
				<mat-card>
					<div class="row">
						<div class="col-lg-6" align="right">
							<p>Send us a letter of consent to configure <b>Your</b> number</p>
							<button mat-raised-button color="primary"><i class="fa fa-download"></i> &nbsp;Download Sample Letter</button>
						</div>
						<div class="col-lg-6">

						</div>
					</div>
				</mat-card>
				<mat-card>
					<div class="row">
						<div class="col-lg-6">

						</div>
						<div class="col-lg-6" align="left">
							<p>We'll review and inform you to continue using service</p>
						</div>
					</div>
				</mat-card>
				<mat-card class="contact">
					<div class="row" style="margin: 25px!important;">
						<div class="col-lg-6">
							<p>Get Started Today with "logo"</p>
						</div>
						<div class="col-lg-6">
							<button mat-raised-button color="primary"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;Contact Us</button>
						</div>
					</div>
				</mat-card>


			</div>
	</div>
