		<!--Begin::Section-->
		<div class="row">
			<div class="col-xl-12">

				<!--begin:: Widgets/Quick Stats-->
				<div class="row row-full-height">

					<div class="kt-portlet">
						<div class="kt-portlet__head">
							<div>
								<p class="head-left">
									 <span class="small-font">  </span>
								</p>
							</div>
							<div class="kt-portlet__head-label">
								<div class="row">
									<div class="col-md-6">
										<h3 class="kt-portlet__head-title">

										</h3>
									</div>
									<div class="col-md-6">

									</div>
								</div>
							</div>
						</div>

						<!--begin::Form-->
						<form class="kt-form" [formGroup]="priceUpdateForm" (ngSubmit)="onSubmit()">
							<div class="kt-portlet__body">
								<div class="form-group form-group-last">
								</div>
								<div class="row" style="display: contents;">
									<h3 align="center">
										Propane Price Change
									</h3>
									<div class="form-group">
											<label for="recipient-name" class="form-control-label" style="text-align: center; display: block;">Current Price:</label>
											<input type="text" class="form-control cash-received" placeholder="{{currentPropanePrice}}"  disabled="disabled" value="{{currentPropanePrice}}" id="recipient-name" style="width: 40% !important; margin-left: 30% !important; text-align: center;">
										</div>
										<div class="form-group">
												<label for="recipient-name" class="form-control-label" style="text-align: center; display: block;">What is the new Price?</label>
												<input type="text" class="form-control cash-received" placeholder="New Price" id="new_price" name="new_price" style="width: 40% !important; margin-left: 30% !important; text-align: center;" formControlName="new_price" required [ngClass]="{ 'is-invalid': submitted && priceUpdateForm.controls['new_price'].errors }">
												<div *ngIf="submitted && priceUpdateForm.controls['new_price'].hasError('required')" class="error-message text-center">New Price is required</div>
											</div>
											<div class="form-group">
													<label for="recipient-name" class="form-control-label" style="text-align: center; display: block;">Have you changed the price on Auto Propane Dispenser 1 & Dispenser 2?</label>
													<p style="text-align: center;">
													<a class="btn btn-primary btn-yes" (click)="dispenserUpdated()" style="width: 40%; font-size: 15px; background: transparent; border: 1px solid blue; color:rgb(105, 105, 117)e;"> Yes </a>
												</p>
												</div>


								</div>

							</div>
							<div class="kt-portlet__foot">
								<div class="kt-form__actions">
									<p align="right">
									<button type="submit" [disabled]="!isConfirmed" class="btn btn-primary" >Submit</button>
								</p>
								</div>
							</div>
						</form>

						<!--end::Form-->
					</div>
				</div>

				<!--end:: Widgets/Quick Stats-->
			</div>
		</div>

		<!--End::Section-->