<div class="modal-header">
		<h4 class="modal-title">Request SMS sender ID</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<div class="form-group">
			<div class="row">
				<label class="col-form-label">ID*</label>
			</div>
			<div class="row">
				<input type="text" class="form-control sender_id" placeholder="Your Sender ID" >
				<button type="button"><mat-icon>clear</mat-icon></button>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<ul>
					<li>Minimum 3 characters</li>
					<li>Maximum 11 characters</li>
					<li>No Whitespaces</li>
					<li>Only alphanumeric characters</li>
				</ul>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<label class="col-form-label">Company*</label>
			</div>
			<div class="row">
				<input type="text" class="form-control" placeholder="My Company">
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<label class="col-form-label">Nature of Business*</label>
			</div>
			<div class="row">
				<input type="text" class="form-control" placeholder="Restaurant">
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<label class="col-form-label">Your Name*</label>
			</div>
			<div class="row">
				<input type="text" class="form-control" placeholder="Ronald Perera">
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<label class="col-form-label">your Designation*</label>
			</div>
			<div class="row">
				<input type="text" class="form-control" placeholder="Manager">
			</div>
		</div>
	  </div>
	  <div class="modal-footer">
		  <div class="row">
			  <button mat-raised-button color="primary">Send Request</button>
		  </div>
		<!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button> -->
	  </div>
