<div class="kt-portlet kt-portlet--height-fluid">
	<div class="row">
		<div class="col-12">
			<a href="" >How to Integrate?</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>API Keys</h3>
		</div>
		<div class="col-md-6">
			<button mat-raised-button color="primary">Create API Key</button>
		</div>
	</div>
	<br>
	<mat-divider></mat-divider>
	<div class="row">
		<div class="col-md-12">
		<mat-toolbar>
			<mat-toolbar-row>
			  <span>First Row</span>
			</mat-toolbar-row>
		  </mat-toolbar>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-md-6">
			<h3>Sender IDs</h3>
		</div>
		<div class="col-md-6">
			<button mat-raised-button color="primary" (click) = openModal() >Request Sender ID</button>
		</div>
	</div>
	<br>
	<mat-divider></mat-divider>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<mat-card align="center" class="crd_danger" >
				<mat-card-title><p>Danger Zone</p></mat-card-title>
				<mat-card-content>
					<p>
						The action inside this area are dangerous and can not be undone.
					</p>
				</mat-card-content>
				<mat-card-footer>
					<button mat-raised-button class="btn_red">Delete My Account</button>
				</mat-card-footer>
			</mat-card>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
