.col-12{
	text-align: right;
	margin: 20px 0px;
	padding-right: 100px;
	font-size: 16px;
}

.col-12 a{
	text-decoration: underline;
}

.col-md-6{
	text-align: center;
}

.crd_danger{
	border: 1px solid red;
	line-height: 45px;
}

.crd_danger mat-card-title{
	background-color: red;
	margin-bottom: 20px
}

.crd_danger mat-card-title {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: white;
	margin: -16px;
	height: 47px;
	line-height: 45px;
	text-align: left;
}

p{
	margin-left: 20px;
}

.mat-card-content{
	margin: 16px;

}

.mat-card{
	border-radius: 5px;
}

.mat-card-footer{
	margin: 0px 0px;
}

.btn_red{
	background-color: red;
	color: white;
}

//******************start Modal Css****************//
.modal-title{
	margin: 0px;
}

.modal-body{
	padding: 10px 35px;
	color: #464444;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

.sender_id{
	width: 88%;
}

.modal-footer{
	justify-content: center;
}

.col-form-label{
	font-size: 1.2rem!important;
}

.modal-content{
	width: 115%!important;
}
