<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">

	<!--begin: User bar -->
	<kt-user-profile [greeting]="false" [avatar]="false" [badge]="false" [icon]="true"></kt-user-profile>
	<!--end: User bar -->
	<!--begin: Quick panel toggler -->
	
	<!--end: Quick panel toggler -->
</div>
<!-- end:: Header Topbar -->
