// .kt-header__topbar-icon{
// 	padding-right: 10px!important;
// 	font-size: 5px!important;
// 	width: 120px!important;
// 	background-color: rgb(7, 79, 233)!important;
// }#2437e7

.buy_btn {
	align-self: center;
	//  padding: 0 0.55rem 0 0;
	width: 100%;
	background-color: rgb(10, 172, 72);
	color: white!important;
}
