<!-- <div ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
		<div ngbDropdownToggle class="kt-header__topbar-wrapper">

				<span class="kt-header__topbar-icon" align="center"><b>Buy Credits</b></span>
			</div>
	 <div class="kt-header__topbar-wrapper">
		<button>
				<span class="kt-header_topbar-icon">a</span>
		</button>

	</div>

		<button mat-button color="primary">Buy Credits</button>

</div> -->
<div class="kt-header__topbar-item kt-header_topbar-item--user">

	<button mat-flat-button class="buy_btn" routerLink="/purchase">
			<b>Buy Credits</b>
	</button>
</div>
